/* Responsive CSS start here */
// Media for 1200px

@media (max-width: 1200px) {
	.page-header {
		.user-fetaures {
			display: $diplay-none;
		}
		.user-login-panel {
			margin-left: inherit;
		}
		.clientpoint-heading-bar {
			.btn-flat {
				margin-left: $margin-left-auto;
			}
		}
	}
}

// Media for 991px

@media (max-width: 991px) {
	.page-header {
		.user-name {
			display: $diplay-none;
		}
	}
	.client-point-file .creating-perposal .creating-perposal-left,
	.client-point-file .creating-perposal .creating-perposal-rightpanel {
		width: $full-width !important;
	}
	.client-point-file {
		.creating-perposal {
			height: $height-auto;
		}
	}
	.dropdown-backdrop {
		position: static;
		z-index: $zero;
	}
	.dropdown.custom &:hover {
		.dropdown-menu {
			visibility: $visibilty-visible;
			display: $display-block;
			@include border-radius(0);
		}
	}
	.powerdby-toggle-links {
		display: $display-block;
		width: $full-width;
	}
	.clientpoint-preview {
		.powerd-by-toggleInner {
			.sign-now {
				@include margin-padding(all, 1.2rem 0 0 inherit, all, null);
			}
		}
	}
	.clientpoint-preview {
		.powerdby-rightpanel {
			margin-left: $inherit;
		}
	}
	.clientpoint-preview {
		.poweredby-marvel {
			@include margin-padding(all, 1rem 0, all, null);
			flex: 0 0 100%;
		}
	}
	.creating-perposal-rightpanel {
		&.perposal-postion-right {
			@include relative(right 0);
			@include margin-padding(all, 0, all, null);
			height: $height-auto;
		}
	}

	.showtable-content-arrow {
		&.showArrow {
			display: $none;
		}
	}
	.outer-scroll {
		.clientpoint-editing {
			height: $height-hundred-per !important;
		}
	}
	.splash-viewer {
		.splash-form-center {
			@include margin-padding(all, 0 0 6.25rem 0, all, 1.9rem);
		}
		.splash-form {
			top: 15rem;
			transform: translate(-50%, 0);
		}
	}
	.overlay {
		top: $zero;
		z-index: 4;
	}
	.viewer-sidebar-common {
		top: $zero;
		height: $height-hundred-per;
		z-index: 5;
	}
	.login {
		.login-leftpanel {
			max-width: $full-width;
			flex: 0 0 $full-width;
			@include margin-padding(all, null, all, 1.25rem);
		}
	}
	.login {
		.login-step {
			ul {
				li {
					flex: 0 0 $full-width;
				}
			}
		}
	}
	.login {
		.login-rightpanel {
			max-width: $full-width;
			flex: 0 0 $full-width;
			@include margin-padding(all, null, all, 3.75rem 0);
			height: $height-hundred-per;
		}
	}
	.login .login-rightpanel .login-step ul li .border {
		width: 1px;
		height: 60px;
	}
	.login {
		.login-form {
			max-width: $full-width;
			width: $full-width;
			@include margin-padding(all, 1.25rem auto 0, all, null);
			.row {
				@include margin-padding(all, null, all, 0);
				margin-left: $zero;
				margin-right: $zero;
			}
		}
	}
	.login-rightpanel {
		.login-step {
			ul {
				@include margin-padding(all, null, all, 0 0 0 1.25rem);
			}
		}
	}
	.login {
		height: $auto;
		.login-links {
			bottom: $auto;
			@include relative();
		}
		.login-rightpanel {
			@include margin-padding(all, null, all, 1.25rem 0 0);
		}
		.login-left-content {
			@include margin-padding(all, 3.125rem 0, all, null);
		}
	}
	.splash-form {
		&.login-space {
			top: 3.125rem;
		}
	}

	.login-padding {
		@include margin-padding(all, null, all, 1.875rem !important);
	}
	.splash-form {
		&.login-space {
			.splash-form-center {
				@include margin-padding(all, null, all, 1.875rem);
				margin-bottom: 1.875rem;
			}
		}
	}

	.getting-started {
		@include margin-padding(all, 0, all, null);
	}
	.login-common-width {
		@include margin-padding(all, 0, all, 0 1.25rem 1.875rem);
		max-width: $full-width;
	}

	.login .login-rightpanel .login-step ul li .grey-boreder {
		display: $none;
	}
	.login .login-form .btn,
	.login .login-form .btn-large,
	.login .login-form .btn-small {
		@include relative();
	}
	.theme-advanced-settings {
		.theme-advanced-tabs {
			.collapsible-body {
				@include margin-padding(all, null, all, 0 2rem);
			}
		}
	}
	.theme-setting {
		.collapsible-header {
			h6 {
				line-height: $normal;
			}
		}
	}

	.search-tab {
		.tabs {
			overflow: $auto;
		}
	}
	.ip-address {
		.reply-comment {
			.reply-comment-row {
				max-width: $full-width;
				flex: 0 0 $full-width;
			}
		}
	}
	.table-option-user {
		@include margin-padding(all, 0, all, null);
		flex: 0 0 $full-width;
	}
	.table-option-user {
		.options-user {
			@include margin-padding(all, null, all, 1.5rem 0 0);
		}
	}
	.calender-datesCommon {
		&.d-flex.ml-auto {
			margin-left: initial !important;
		}
	}
	.newclientpoint-title-bar .library-header-right {
		justify-content: $justify-content-start;
	}
	.perposal-defaultbar {
		flex: 0 0 $full-width;
		// @include margin-padding(all, 0 0 1rem 0, all, null);
	}
	.mobile-common-margin {
		margin-top: 1rem;
	}
	.clientpoint-title {
		width: $full-width;
		margin-bottom: 1.25rem;
	}
	.newclientpoint-title-bar {
		.newclientpoint-title-bar-right {
			width: $full-width;
			margin-left: $inherit;
		}
	}
	.login {
		.login-rightpanel {
			.login-step {
				ul {
					padding: 0 0 0 20px;
				}
			}
		}
	}
	.newclientpoint-title-bar {
		.client-menu {
			margin-left: $inherit;
		}
	}
}

// Media for 768px

@media (max-width: 768px) {
	.detail-info .information,
	.info-sidebar-right {
		max-width: $full-width;
		flex: 0 0 $full-width;
	}
	.page-header {
		.searchbox {
			display: $diplay-none;
		}
		.search-responsive {
			margin-right: $margin-right-auto;
			display: $display-block;
		}
		.clientpoint-heading-bar {
			@include margin-padding(all, null, all, 0 1.5rem 0 0);
			width: $auto;
			margin-left: $auto;
		}
	}

	.client-details-content {
		.titlerow {
			.new-client-pointInput {
				width: $full-width;
				@include margin-padding(all, 0 0 1.5625rem, all, null);
			}
		}
	}
	.new-client-btn {
		margin-left: inherit !important;
	}
	.sidebarSubmenu {
		z-index: 2;
	}
	.SidebarOpenMargin {
		margin-left: 5rem !important;
	}
	.clientpoint-title {
		margin-bottom: 1.25rem;
	}
	.newperposal-client-bar {
		.newperposal-clientbar-right {
			width: $full-width;
			margin-top: 1.25rem;
		}
	}
	#content.contentMargin {
		margin-left: 5rem;
	}
	.newclientpoint-title-bar {
		.client-search-title {
			padding: 1rem 1.8125rem;
			height: 3.125rem;
		}
	}
	.analytics-filter {
		.calender-date {
			margin-left: $inherit;
			margin-top: 1rem;
		}
	}
	.filter-rightpanel {
		margin-left: $inherit;
		flex: 0 0 $full-width;
	}
	.anaytics-overview {
		.anaytics-overview-row {
			.anaytics-overview-footer-row {
				.anaytics-overview-col {
					max-width: $full-width;
					flex: 0 0 $full-width;
					border-right: $none;
					border-bottom: 1px solid #efeff3;
					&:last-child {
						border-bottom: $none;
					}
				}
			}
		}
	}
	.ip-address {
		@include margin-padding(all, null, all, 0);
	}
	.newperposal-client-bar {
		.dropdown-content {
			top: $full-width !important;
		}
	}
	.theme-advanced-settings {
		.theme-advanced-tabs {
			.tabs {
				overflow: $auto;
			}
			.collapsible-body {
				@include margin-padding(all, null, all, 0 2rem);
			}
		}
	}

	.right-margin-preview {
		@include margin-padding(all, 0, all, 2.5rem 2rem 2.5rem 2rem);
	}
	.outer-scroll .scrollbar-inner > .scroll-element.scroll-y {
		right: 6px;
	}
	.viewer-sidebar-common {
		width: $full-width;
	}
	.splash-viewer {
		.splash-logo {
			@include margin-padding(all, 0 0 1.875rem 0, all, null);
		}
	}
	// .proposal-trial {
	//     position: relative;
	// }
	.getting-started {
		.getting-started-row {
			@include flex(block);
			text-align: text-maps("text-align", "center");
		}
	}
	.login {
		.login-left-content {
			@include margin-padding(all, 2.5rem 0, all, null);
			h1 {
				font-size: 1.5rem;
				line-height: $normal;
			}
		}
	}
	.loginContentScroll {
		height: $auto;
	}
	.login .login-form .btn,
	.login .login-form .btn-large,
	.login .login-form .btn-small {
		font-size: 1.2rem;
		@include margin-padding(all, null, all, 1.25rem);
		@include relative();
	}
	.full-height {
		height: $auto !important;
	}
	.add-userHeader {
		.add-userLeftpanel {
			flex: 0 0 $full-width;
		}
	}
	.add-userHeader {
		.add-user-buttons {
			.btn {
				margin-top: 1rem;
			}
		}
	}
	.add-userHeader {
		.add-user-buttons {
			@include margin-padding(all, 0, all, null);
		}
	}
	#file-upload-modal {
		.modal-header {
			@include margin-padding(all, null, all, 1.5rem 2rem 1rem 2rem);
		}
		.modal-content {
			@include margin-padding(all, null, all, 0.7rem 2rem 1.3rem 2rem);
			h4 {
				@include margin-padding(all, 0 0 1.25rem 0, all, null);
				font-size: 1.3rem;
			}
		}
		.modal-footer {
			@include margin-padding(all, null, all, 0 2rem 2rem 2rem);
		}
		.upload-file-choose {
			height: 9.375rem;
		}
	}

	.login-form {
		.input-field {
			&.col label {
				left: $zero;
			}
		}
	}
	#share-modal {
		.tab-content {
			@include margin-padding(all, null, all, 0 2rem 1rem 2rem);
		}
		.modal-header {
			@include margin-padding(all, null, all, 2.3rem 1.875rem 1rem 2rem);
		}
		.tabs-header {
			padding-left: 1.875rem;
		}
	}
	#comment-modal {
		.tab-content {
			@include margin-padding(all, null, all, 0 2rem 1.875rem 2rem);
		}
		.tabs-header {
			padding-left: 1.875rem;
		}
		.modal-header {
			@include margin-padding(all, null, all, 2.3rem 1.875rem 1rem 2rem);
		}
	}

	#add-section {
		.modal-content {
			@include margin-padding(all, null, all, 0 1.875rem 0 2rem);
		}
		.modal-header {
			@include margin-padding(all, null, all, 2.3rem 1.875rem 2.1rem 2rem);
		}
	}
	.add-notes-modal {
		.search-tab-header {
			padding-right: 3rem;
			padding-left: 2rem;
		}
		.mylibrary-content {
			p {
				padding-left: 2rem;
				padding-right: 3rem;
			}
		}
	}
	.treeview {
		padding-left: 2rem;
	}
	.splash-viewer .btn,
	.splash-viewer .btn-large,
	.splash-viewer .btn-small {
		height: 46px;
		font-size: 1.1rem;
		line-height: 2rem;
	}
	.theme-setting {
		.collapsible-header {
			@include margin-padding(all, null, all, 1rem);
		}
	}
	.theme-content {
		@include margin-padding(all, null, all, 1.875rem 2rem);
		.heading-collapse {
			width: 80%;
		}
		.theme-list {
			.theme-list-row {
				@include margin-padding(all, null, all, 1rem);
			}
		}
	}

	.add-recipient-modal {
		.modal-content {
			@include margin-padding(all, null, all, 0 1.5rem);
		}
		.modal-header {
			@include margin-padding(all, null, all, 1.5rem);
		}
		.add-recipient-content-row {
			@include margin-padding(all, null, all, 1.5rem 0.5rem 0);
		}
	}
	.modal-footer {
		@include margin-padding(all, null, all, 0 1.5rem 1rem);
	}
	.proposal-trial {
		@include relative();
	}
	.clientpoint-editing {
		@include margin-padding(all, null, all, 1.5rem 0 1.5rem 2rem);
		p {
			padding-right: 1.5rem;
		}
	}
	.tabs {
		.tab {
			flex-grow: $inherit;
		}
	}
	.newclientpoint-title-bar {
		.library-header-right {
			justify-content: $justify-content-start;
		}
	}
	.modal {
		.modal-header {
			@include margin-padding(all, null, all, 1.875rem 1rem 1.3rem 2rem);
		}
	}
	.reply-modal-content {
		.modal-content {
			@include margin-padding(all, null, all, 0 2rem 1.3rem 2rem);
			textarea {
				height: 9rem;
				@include margin-padding(all, null, all, 1rem);
			}
		}
		.modal-footer {
			@include margin-padding(all, null, all, 0 2rem 2.1rem 2rem);
			.btn-round {
				margin-left: 1rem;
			}
		}
		.reply-text {
			@include margin-padding(all, null, all, 1rem);
			p {
				font-size: 1rem;
				line-height: 1.6rem;
			}
		}
	}
	.intigration {
		.intigrat-row-content {
			.btn {
				@include margin-padding(all, 1rem 0 0 0, all, null);
			}
		}
	}
	.intigration-inner-content {
		flex: 0 0 100%;
	}
	#save-template-modal {
		.modal-header {
			@include margin-padding(all, null, all, 1.875rem 1rem 0 2rem);
		}
	}
	.library-table {
		height: calc(100% - 118px);
	}
	.signIn-modal-content {
		.modal-content {
			@include margin-padding(all, null, all, 0 2rem 0 2rem);
			.form-fields {
				@include margin-padding(all, 0.7rem 0 0 0, all, null);
			}
		}
	}
	#sign-now-modal {
		.modal-header {
			@include margin-padding(all, null, all, 1rem 1rem 0rem 2rem);
		}
	}

	.signIn-modal-content {
		.typeIt {
			.clickto-sign {
				height: 4.625rem;
			}
		}
	}
	.theme-advanced-tabs {
		.collapsible-header {
			h4 {
				font-size: 1rem;
			}
		}
	}
	.switch {
		label {
			font-size: 1rem;
		}
	}
	.internet-domain {
		h6 {
			font-size: 1.1rem;
		}
	}
	.input-field,
	.input-field label {
		font-size: 0.9rem;
	}
	label {
		font-size: 0.9rem;
	}
	.login-common-width {
		.input-field {
			@include margin-padding(all, null, all, 0);
		}
	}
	.search-result-content {
		.collapsible {
			.collapsible-header {
				h5 {
					font-size: 1rem;
				}
			}
		}
	}
	.splash-form-center {
		h1 {
			font-size: 1.7rem;
			@include margin-padding(all, 0 0 1.25rem, all, null);
		}
	}
	.dashboard-empty-state {
		width: 90%;
	}
	.clientpoint-editing {
		p {
			font-size: 1rem;
			line-height: 2rem;
		}
	}
}

// Media for 570px

@media (max-width: 570px) {
	.reciepent {
		padding: $zero;
	}
	.info-common {
		padding: $zero;
	}
	.padding-none {
		padding: $zero !important;
		label {
			left: $zero !important;
		}
	}
	.newclientpoint-title-bar {
		.client-menu {
			width: $full-width;
			margin-bottom: 1rem;
		}
	}
	.row.mb-15 {
		@include margin-padding(all, 0, all, null);
	}
	.clientpoint-preview {
		.powerdby-logo {
			@include margin-padding(all, 0, all, null);
		}
	}
	.clientpoint-preview .powerd-by-toggleInner .powerdby-toggle-links ul {
		display: list-item;
	}
	.clientpoint-preview .powerd-by-toggleInner .powerdby-toggle-links ul li a {
		padding: 15px 0px 0 0;
	}
	.clientpoint-preview {
		.powerdby-logo {
			@include margin-padding(all, 0.625rem 0, all, null);
			@include flex(block);
			flex: 0 0 $full-width;
		}
	}
	.clientpoint-preview {
		.sentby-dropdown {
			@include margin-padding(all, 0, all, null);
		}
	}
	.theme-content .theme-list .theme-list-row .themebtns {
		margin-left: inherit;
	}
	.theme-content {
		.theme-list {
			.theme-list-row {
				.edit-btn,
				.duplicate-btn {
					font-size: 0.9rem;
					@include margin-padding(all, null, all, 0 0.4375rem);
					height: 1.875rem;
					line-height: 1.875rem;
				}
			}
		}
	}
	.login {
		.login-form {
			.input-field {
				@include margin-padding(all, null, all, 0);
			}
		}
	}
	.btn-row {
		margin-top: $zero;
	}
	.search-result-content {
		.comment-row {
			.imgbox {
				flex: 0 0 $full-width;
			}
		}
	}
	.newclientpoint-title-bar {
		.library-header-right {
			.common-default-search {
				@include margin-padding(all, 0 1.25rem 1rem 0, all, null);
			}
		}
	}
	.intigration {
		.intigrat-row-content {
			flex: 0 0 100%;
			margin-top: 1.5rem;
		}
	}
	.powerd-by-toggleInner {
		@include margin-padding(all, null, all, 1.0625rem 1.25rem);
	}
	.clientpoint-preview {
		.clientPoint-powerd-by {
			@include margin-padding(all, null, all, 0 0 0 1.25rem);
		}
	}
	.client-point-file {
		.newperposal-client-bar {
			@include margin-padding(all, null, all, 1.1rem 1.4rem);
		}
	}
	.newclientpoint-title-bar {
		.client-menu-common {
			margin-right: 2rem;
		}
	}
	#save-template-modal {
		.modal-footer {
			.btn-row {
				justify-content: space-around;
			}
		}
	}
	#save-template-modal {
		.modal-footer {
			.btn-round {
				margin-right: 0 !important;
			}
		}
	}
	#save-template-modal {
		.modal-content {
			@include margin-padding(all, null, all, 0 1.5rem 0 1.5rem);
		}
	}
	.library-table {
		height: calc(100% - 167px);
	}
	.new-btn-clientpoint {
		padding: 0 2.5rem !important;
	}
	.login {
		.login-form {
			.input-field {
				label {
					font-size: 0.9rem;
				}
				input {
					font-size: 0.9rem;
				}
			}
		}
		.login-rightpanel {
			.login-step {
				ul {
					li {
						a {
							font-size: 0.9rem;
						}
					}
				}
			}
		}
	}
	.intigration {
		h5 {
			font-size: 1.1rem;
		}
	}
	.intigration {
		.intigration-row {
			h6 {
				font-size: 1.1rem;
			}
		}
	}
}
// Media For extra small 480

@media (max-width: 480px) {
	.page-header {
		.clientpoint-heading-bar {
			.btn-flat {
				font-size: $zero;
				background-position: -376px -6px;
				width: 20px;
				padding: $zero;
				border: $border-none;
				margin-right: 0.625rem;
				&:hover {
					background-color: transparent;
					background-position: -376px -6px;
				}
			}
		}
	}
	.time-spent {
		.time-spent-right {
			width: 60%;
		}
	}
	.time-spent {
		.time-spent-left {
			width: 40%;
		}
	}
	.powerd-by-toggleInner {
		.sign-now {
			.sign-up {
				@include margin-padding(all, null, all, 0 2rem);
			}
		}
	}
	.table-options {
		@include margin-padding(all, null, all, 2.3125rem 2rem);
	}
}

/* Responsive CSS end here */
