/* Search CSS start here */

.search-result {
	@include absolute(top 5rem left 0 right auto bottom auto);
	width: 25.5rem;
	box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.1);
	background: color("shades", "white");
	@include opacity(0);
	visibility: $visibilty-hidden;

	.search-row {
		@include margin-padding(all, null, all, 0.9rem 1.5625rem);
		@include flex(flex);
		@include flex-wrap(wrap);
		//align-items: $align-items-center;
	}
	.results-icon {
		background: #702c63 url(../images/common-icons.svg) no-repeat -322px -1378px;
		@include w-h-rem(20px, 20px);
		@include border-radius(0.3125rem);
		@include margin-padding(all, 0 0.9375rem 0 0, all, null);
		&.suitcase-icon {
			background: #00b0dc url(../images/common-icons.svg) no-repeat -389px -1380px;
		}
		&.user-icon {
			background: #19e4b1 url(../images/common-icons.svg) no-repeat -28px -1456px;
		}
		&.comment-icon {
			background: #676ad4 url(../images/common-icons.svg) no-repeat -91.7px -1455px;
		}
		&.edit-icon {
			background: #f7ba0f url(../images/common-icons.svg) no-repeat -176px -1454px;
		}
	}

	h5 {
		@include font-rem(14px, 18px);
		@include font-weight(medium);
		@include margin-padding(all, 0 0 0.375rem, all, null);
		color: color("grey", "darken-4");
	}
	p {
		@include font-rem(11px, 13px);
		color: color("grey", "darken-1");
		@include margin-padding(all, 0, all, null);
	}
	.search-result-content {
		flex: 1;
		height: $height-hundred-per;
	}
	.results-search-icon {
		background: url(../images/common-icons.svg) no-repeat -241px -1378px;
		@include w-h-rem(27px, 27px);
		@include border-radius(0.3125rem);
		@include margin-padding(all, 0 0.9375rem 0 0, all, null);
	}
	.top-search-row {
		background: #eaf6ff;
		@include margin-padding(all, null, all, 0.85rem 1.5625rem);
		@include flex(flex);
		@include flex-wrap(wrap);
		@include flex-align-items(center);

		h6 {
			@include font-rem(14px, 20px);
			color: color("blue-grey", "darken-1");
			@include margin-padding(all, 0, all, null);
		}
	}
}
.search-result {
	&.open {
		@include opacity(1);
		visibility: $visibilty-visible;
	}
}
.hidden {
	display: $none !important;
}
.serach-arrow {
	@include absolute(top 1.8rem left auto right 0.7rem bottom auto);
	color: color("grey", "darken-1");
	.material-icons {
		@include font-rem(20px);
	}
}
.serach-arrow.change-color {
	color: color("indigo", "base");
}
.search-result-content {
	width: $full-width;
	height: $height-hundred-per;
	.search-result-header {
		@include margin-padding(all, null, all, 1.5rem 2.5rem 1.5rem 1.875rem);
		@include flex(flex);
		@include flex-wrap(wrap);
		@include flex-align-items(center);
		h1 {
			@include font-rem(18px, 24px);
			color: color("grey", "darken-4");
			@include margin-padding(all, 0 auto 0 0, all, null);
		}
		.close-result {
			color: color("indigo", "base");
			@include margin-padding(all, 0 0 0 auto, all, null);
		}
	}
	.tabs {
		border-bottom: 1px solid color("grey", "lighten-3");
		@include margin-padding(all, null, all, 0 0 0 1.875rem);
		li {
			a {
				@include flex(flex);
				@include flex-wrap(wrap);
				@include flex-align-items(center);
			}
		}
		.badge {
			background: color("grey", "lighten-5");
			@include border-radius(1.875rem);
			text-shadow: $none;
			color: color("blue-grey", "darken-1");
		}
		.tab {
			margin-right: 2.5rem;
		}
	}
	.tab-content {
		@include margin-padding(all, null, all, 1.875rem);
		height: $height-hundred-per;
	}
	.collapsible {
		border: $none;
		@include margin-padding(all, 0, all, null);
		box-shadow: $none;
		li {
			overflow: $hidden;
			@include box-shadow(0, 2px, 7px, rgba(84, 86, 90, 0.2));
			@include border-radius(5px);
			@include margin-padding(all, 0 0 1.875rem 0, all, null);
			&:last-child {
				@include margin-padding(all, 0, all, null);
			}
		}
		.contact-icon {
			background: #19e4b1 url(../images/common-icons.svg) no-repeat -28px -1456px;
			@include w-h-rem(20px, 20px);
			@include border-radius(0.3125rem);
			@include margin-padding(all, 0 0.9375rem 0 0, all, null);
			&.suitcase-icon {
				background: #00b0dc url(../images/common-icons.svg) no-repeat -389px -1380px;
			}
			&.comment-icon {
				background: #676ad4 url(../images/common-icons.svg) no-repeat -91.7px -1455px;
			}
			&.edit-icon {
				background: #f7ba0f url(../images/common-icons.svg) no-repeat -176px -1454px;
			}
		}
		.collapsible-header {
			@include flex(flex);
			@include flex-wrap(wrap);
			@include flex-align-items(center);
			@include border-radius(5px);
			border-bottom: 1px solid color("grey", "lighten-5");
			h5 {
				@include font-rem(16px, 26px);
				@include margin-padding(all, 0, all, null);
				text-transform: text-map("text-transform", "uppercase");
				letter-spacing: 0.5px;
				color: color("grey", "darken-4");
				@include font-weight(bold);
			}
		}
		.rotate-arrow {
			@include margin-padding(all, 0 0 0 auto, all, null);
			@include flex(flex);
			@include flex-wrap(wrap);
			@include flex-align-items(center);
			@include transition(all 0.5s);
			.material-icons {
				@include font-rem(31px);
				color: color("indigo", "base");
				@include margin-padding(all, 0, all, null);
				@include transition(all 0.5s);
				//height: 1.375rem;
			}
		}
		li.active {
			.material-icons {
				@include transform(rotate(180deg));
			}
			.collapsible-header {
				@include border-radius(5px 5px 0 0);
			}
		}
		.collapsible-body {
			border: $none;
			@include margin-padding(all, null, all, 0);
		}

		.user-image {
			@include flex(inline-block);
			@include vertical-align(middle);
			@include margin-padding(all, 0 1rem 0 0, all, null);
		}
		.link-user {
			@include font-rem(15px);
			color: color("indigo", "base");
			@include font-weight(medium);
			@include vertical-align(middle);
		}
		.linked-in {
			@include flex(inline-block);
			background: url(../images/common-icons.svg) no-repeat -30px -1230px;
			width: 1.3rem;
			height: 1.4rem;
			margin-left: 0.6875rem;
			@include vertical-align(middle);
		}

		.results-icon {
			background: #702c63 url(../images/common-icons.svg) no-repeat -322px -1378px;
			@include w-h-rem(20px, 20px);
			border-radius: 0.3125rem;
			@include margin-padding(all, 0 0.9375rem 0 0, all, null);
		}
		.status-pending {
			background: color("yellow", "darken-3");
			color: color("shades", "white");
			@include border-radius(3px);
			@include font-rem(13px, 24px);
			@include font-weight(500);
			@include margin-padding(all, null, all, 0.2rem 1.25rem);
		}
	}
	.comment-row {
		@include margin-padding(all, null, all, 1.25rem);
		border-bottom: 1px solid color("grey", "lighten-5");
		&:last-child {
			border-bottom: $none;
		}
		h5 {
			@include margin-padding(all, 0 0 0.75rem, all, null);
			@include font-rem(16px, 24px);
			color: color("blue-grey", "darken-1");
			span {
				@include font-weight(500);
				color: color("indigo", "base");
			}
		}
		.comment-content {
			@include flex(flex);
			@include flex-wrap(wrap);
			p {
				@include font-rem(16px, 24px);
				color: color("grey", "darken-4");
				@include margin-padding(all, 0 0 1.25rem, all, null);
			}
		}
		.imgbox {
			@include margin-padding(all, 0 1rem 0 0, all, null);
		}
		h6 {
			@include font-rem(16px, 24px);
			color: color("blue-grey", "darken-1");
			@include margin-padding(all, 0 0 0.3125rem, all, null);
		}
		.author {
			color: color("indigo", "base");
			@include font-weight(medium);
		}
		.comment-right-text {
			flex: 1;
		}
		.reply-btn {
			@include flex(flex);
			@include flex-wrap(wrap);
			@include font-rem(14px, 16px);
			letter-spacing: 0.7px;
			color: color("grey", "darken-4");
			@include font-weight(medium);
			text-transform: text-map("text-transform", "uppercase");
		}
		.reply-arrow {
			@include icon(15.5px, 15.5px, (true));
			background-position: -170px -500px;
		}
	}
}
.full-height-content {
	height: $height-hundred-per !important;
}
.tab-height {
	height: calc(100% - 119px);
}
.search-tab {
	height: calc(100% - 71px);
}
.tab-content-height {
	height: calc(100% - 48px);
}
.search-tab .scrollbar-inner > .scroll-element.scroll-y {
	right: 3px;
}
.table-responsive {
	overflow: $auto;
	table {
		white-space: $white-spacenowrap;
	}
}

.data-table {
	background: color("shades", "white");
	table {
		tr {
			border-bottom: $none;
		}
		th {
			@include margin-padding(all, null, all, 1rem);
			border-bottom: 1px solid color("grey", "lighten-5");
			text-transform: text-map("text-transform", "uppercase");
			@include font-rem(13px);
			color: color("grey", "darken-4");
		}
		td {
			@include font-rem(15px);
			color: color("blue-grey", "darken-1");
			@include margin-padding(all, null, all, 0.7rem 1.25rem);
		}
		td,
		th {
			@include w-h-rem(350px);
		}
	}
	.sort-icon {
		@include icon(10px, 10px, (true));
		background-position: -252px -1459px;
	}
}
.library-table {
	label {
		@include opacity(0);
		visibility: $visibilty-hidden;
	}
	tr {
		&:hover {
			label {
				@include opacity(1);
				visibility: $visibilty-visible;
			}
		}
	}
	.viewed-dropdown-content {
		min-width: 15.7rem;
		@include margin-padding(all, 0, all, 0.8rem 0 0 !important);
		li {
			@include margin-padding(all, 0, all, 0 !important);
			a {
				@include margin-padding(all, null, all, 0.7rem 1.25rem !important);
			}
		}
		.e-signature {
			border-top: 1px solid color("grey", "lighten-5");
			@include margin-padding(all, 0.5rem 0 0 0, all, null);
			.switch {
				@include margin-direction(left);
			}
			&:hover {
				tr {
					background: color("shades", "transparent");
				}
			}
		}
	}

	.e-signature-content {
		@include flex(flex);
		@include flex-wrap(wrap);
		@include margin-padding(all, null, all, 1.3rem 1.25rem !important);
		label {
			opacity: 1 !important;
			visibility: visible !important;
			@include margin-padding(all, 0 1.7rem 0 0, all, null);
		}
		.switch label .lever {
			@include margin-padding(all, -5px 0 0 0, all, null);
		}
	}
}
.page-header {
	&.add-header-margin {
		@include transition(all 0.5s);
		.search-result {
			&.open {
				@include absolute(top 5rem left 6.67rem right auto bottom auto);
			}
		}
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.search-result-content {
		.rotate-arrow {
			.material-icons {
				height: 1.37rem;
			}
		}
	}
}

.search-empty-state {
	@include flex(flex);
	@include flex-wrap(wrap);
	@include flex-align-items(center);
	@include margin-padding(all, 1.5625rem 0 0 0, all, 0 1.875rem);
	p {
		@include font-rem(14px, 26px);
		color: color("blue-grey", "darken-1");
		@include margin-padding(all, 0 1rem 0 0, all, null);
	}
}
/* Search CSS end here */
