/* Theme Page start here */
.client-point-file {
	.newclientpoint-title-bar-right {
		.themeBtn {
			@include flexbox();
			@include flex-wrap($wrap);
			padding: 0 2.5rem;
			.material-icons {
				margin-right: 5px !important;
			}
		}
	}
	.default {
		font-size: 12px;
		text-transform: $text-uppercase;
		font-weight: $font-weight-600;
		color: color("grey", "base");
		margin-left: 15px;
	}
}
.theme-padding {
	padding: 1.6rem 1.8125rem !important;
}
.themeContent {
	padding: 1.875rem 3.125rem;
	.theme-list {
		.theme-list-row {
			@include flexbox();
			@include flex-wrap($wrap);
			align-items: $align-items-center;
			border: 1px solid color("grey", "lighten-5");
			padding: 1.5625rem;
			h5 {
				margin: $zero;
				font-size: $font-size-sixteen;
				color: color("grey", "darken-3");
				line-height: $line-height-twentyfour;
				span {
					font-size: 12px;
					text-transform: $text-uppercase;
					font-weight: $font-weight-500;
					color: color("grey", "base");
					margin-left: 15px;
				}
			}
			.themebtns {
				margin-left: $margin-left-auto;
				@include flexbox();
				@include flex-wrap($wrap);
				align-items: $align-items-center;
			}
			.editBtn {
				@include flexbox();
				@include flex-wrap($wrap);
				align-items: $align-items-center;
				text-transform: $text-uppercase;
				font-size: $font-size-fourteen;
				font-weight: $font-weight-600;
				.editIcon {
					background: url(../images/common-icons.svg) no-repeat -246px -663px;
					width: 1.125rem;
					height: 1.4rem;
					margin-right: 0.6rem;
				}
			}
			.DuplicateBtn {
				@include flexbox();
				@include flex-wrap($wrap);
				align-items: $align-items-center;
				text-transform: $text-uppercase;
				font-size: $font-size-fourteen;
				font-weight: $font-weight-600;
				.duplicateIcon {
					background: url(../images/common-icons.svg) no-repeat -169px -663px;
					width: 1.125rem;
					height: 1.4rem;
					margin-right: 0.6rem;
				}
			}
		}
	}
}

.cancel-btn {
	font-weight: $font-weight-600;
	padding: 0 25px;
}

.themeSetting {
	.collapsible {
		margin: $zero;
		box-shadow: $none;
		border-top: $none;
		.active {
			.minus {
				@include flexbox();
			}
			.plus {
				display: $diplay-none;
			}
		}
	}
	.collapsible-header {
		padding: 2rem;
		@include flex-wrap($wrap);
		border-bottom: 1px solid color("grey", "lighten-5");
		h4 {
			max-width: $full-width;
			flex: 0 0 100%;
			margin: $zero;
			line-height: $line-height-twentyfour;
			font-size: $font-size-sixteen;
			font-weight: $font-weight-500;
		}
		h6 {
			color: color("grey", "darken-1");
		}
	}
	.accordionBtn {
		margin-left: $margin-left-auto;
		@include flexbox();
		@include flex-wrap($wrap);
		align-items: $align-items-center;
		.minus {
			display: $diplay-none;
			@include flex-wrap($wrap);
			align-items: $align-items-center;
			.material-icons {
				color: color("indigo", "base");
				font-weight: $font-weight-600;
				margin-right: $zero;
			}
		}
		.plus {
			@include flexbox();
			@include flex-wrap($wrap);
			align-items: $align-items-center;
			.material-icons {
				color: color("indigo", "base");
				font-weight: $font-weight-600;
				margin-right: $zero;
			}
		}
	}
	.input-field {
		position: $position-relative;
		input[type="text"] {
			color: color("grey", "darken-4");
		}
	}
	.input-field {
		label {
			text-transform: $text-capitalize;
		}
	}
	.collapsible-body {
		background: #fafafc;
		border-bottom: 1px solid color("grey", "lighten-5");
		@include margin-padding(all, null, all, 0);
		h4 {
			max-width: $full-width;
			flex: 0 0 100%;
			margin: $zero;
			line-height: $line-height-twentyfour;
			font-size: $font-size-sixteen;
			font-weight: $font-weight-500;
		}
		h6 {
			color: color("grey", "darken-1");
			line-height: $line-height-twentyfour;
			margin: 1rem 0 0.4rem 0;
		}
	}
}

.p-0 {
	padding: $zero !important;
}
.inputFileUpload {
	width: 68px;
	height: 20px;
	position: $position-absolute;
	right: 11px;
	background: url(../images/common-icons.svg) no-repeat -271px -662px;
	top: 10px;
	cursor: pointer;
	input[type="file"] {
		width: 100%;
		height: 20px;
		@include opacity(0);
		position: $position-absolute;
		right: $zero;
		cursor: pointer;
	}
}
.backArrowNav {
	background: url(../images/common-icons.svg) no-repeat -384px -662px;
	width: 2.1rem;
	height: 1.6rem;
	margin-right: 1.2rem;
}
.themeAdvancedSettings {
	.advancedTabConfig-row {
		margin-bottom: 1.6rem;
	}
	.switch {
		label {
			.lever {
				margin: -3px 20px 0 0;
			}
		}
	}
	.proposanal-locking {
		@include flexbox();
		@include flex-wrap($wrap);
		align-items: $align-items-center;
		padding-left: 4.55rem;
		margin-top: 0.9375rem;
		label {
			text-transform: $text-uppercase;
			font-weight: $font-weight-500;
			color: color("grey", "darken-1");
			margin-right: 2rem;
		}
		input[type="password"] {
			width: 100%;
			max-width: 23rem;
			background: #fafafc;
			margin: $zero;
		}
		input[type="text"] {
			width: 100%;
			max-width: 7rem;
			background: #fafafc;
			margin: $zero;
		}
	}
}
.themeAdvancedtabs {
	.tabs {
		border-bottom: 1px solid color("grey", "lighten-5");
		height: $height-auto;
		padding-left: 1.8rem;
		.tab {
			line-height: $line-height-normal;
			height: $height-auto;
			a {
				padding: 1.5625rem 0.625rem;
			}
		}
	}
	.collapsible {
		margin: $zero;
		border: $none;
		padding: 1.875rem 0;
		box-shadow: $none;
		li.active {
			.material-icons {
				transform: rotate(180deg);
			}
		}
	}
	.collapsible-header {
		border: $none;
		padding: 1.6rem 1.8125rem;
		h4 {
			color: color("grey", "darken-2");
			margin:0 $auto 0 0;
		}
	}
	.collapsible-body {
		border: $none;
		@include margin-padding(all, null, all, 0 2rem);
	}
	.tabCollapseArrow {
		margin-left: $margin-left-auto;
		.material-icons {
			margin-right: $zero;
			font-size: 1.9rem;
			color: color("indigo", "base");
			transition: $transiton;
		}
	}
}
.no-bg-Inputtext {
	background: $none !important;
	border-bottom: 2px solid color("grey", "lighten-5") !important;
}
.internetDomain {
	border: 1px solid color("grey", "lighten-5");
	padding: 1.5625rem;
	h6 {
		font-weight: $font-weight-500;
		color: color("grey", "darken-4");
		margin: $zero;
		line-height: $line-height-twentyfour;
		font-size: $font-size-sixteen;
	}
	p {
		line-height: $line-height-twentyfour;
		font-size: $font-size-fourteen;
		color: color("grey", "darken-1");
		margin: 0.5rem 0 0 0;
	}
	.enterDomains {
		@include flexbox();
		@include flex-wrap($wrap);
		align-items: $align-items-center;
		.input-field {
			width: auto;
			flex: 1;
			input[type="text"] {
				flex: 1;
			}
		}
		.addDomainBtn {
			border: 1px solid color("indigo", "base");
			background: color("shades", "transparent");
			cursor: $cursor-pointer;
			color: color("indigo", "base");
			@include flexbox();
			@include flex-wrap($wrap);
			align-items: $align-items-center;
			margin-left: 1.5rem;
			.material-icons {
				font-size: 33px;
			}
		}
	}
}

.config-radio {
	margin-top: 1.5rem;
	label {
		margin-right: 2.3rem;
	}
	input[type="radio"] + span {
		font-size: 1.1rem;
	}
}

.default-language {
	@include flexbox();
	@include flex-wrap($wrap);
	align-items: $align-items-center;
	label {
		color: color("grey", "darken-1");
		font-size: $font-size-fourteen;
		text-transform: $text-uppercase;
		font-weight: $font-weight-500;
		max-width: 170px;
		width: $full-width;
	}
	.select-wrapper {
		max-width: 350px;
		width: $full-width;
	}
	.input-field {
		max-width: 350px;
		width: $full-width;
	}
}
.advancedTabConfig {
	.tableOverflow {
		overflow: auto;
	}
	table {
		tr {
			border: $border-none;
		}
		th {
			text-transform: $text-uppercase;
			font-weight: $font-weight-600;
			color: color("grey", "darken-4");
			margin-right: 2rem;
			font-size: $font-size-fifteen;
			white-space: nowrap;
		}
		td {
			font-size: $font-size-sixteen;
			white-space: nowrap;
		}
		.switch label .lever {
			margin: -3px 8px 0 0;
		}
		.defaultLink {
			text-transform: $text-uppercase;
			font-weight: $font-weight-600;
			color: color("indigo", "base");
			margin-right: 2rem;
			font-size: $font-size-fourteen;
		}
		.hideLink {
			text-transform: $text-uppercase;
			font-weight: $font-weight-600;
			color: color("grey", "lighten-1");
			margin-right: 2rem;
			font-size: $font-size-fourteen;
		}
		.switch {
			display: $display-inline-block;
		}
	}
}
.advancedTabLocale {
	@include margin-padding(all, null, all, 1.875rem 0);
	.advancedTabConfig {
		@include margin-padding(all, null, all, 1.7rem 1.8125rem);
	}
	.dropdown-content {
		top: 100% !important;
	}
	.select-wrapper input.select-dropdown {
		color: color("grey", "darken-4");
	}
}
.manageScreenContent {
	table {
		tr {
			border: $none;
			th {
				background: #fafafc;
				text-transform: $text-uppercase;
				font-weight: $font-weight-600;
				color: color("grey", "darken-4");
				padding: 20px 28px;
				border-right: 1px solid #f4f4f7;
			}
			td {
				padding: 10px 28px;
				text-transform: $text-uppercase;
				font-weight: $font-weight-500;
				color: color("grey", "darken-2");
				border-right: 1px solid #f7f6f9;
			}
		}
		.disable-text {
			@include opacity(0.4);
		}
		[type="checkbox"].filled-in:disabled:checked + span:not(.lever):after {
			background-color: #5e63ff;
			border-color: #5e63ff;
			@include opacity(0.4);
		}
	}
}


/* Theme Page end here */


/* Intigration Page start here */

.intigration {
	@include margin-padding(all, null, all, 1.875rem 0 1.875rem 1.875rem);
	height: calc(100% - 65px);
	h5 {
		@include font-rem(18px, 24px);
		@include font-weight(medium);
		color: color("grey", "darken-1");
		@include margin-padding(all, 0 0 1.25rem 0, all, null);
	}
	.intigrationContent {
		@include margin-padding(all, 0 0 1.875rem, all, 0 1.875rem 0 0);
		&:last-child {
			@include margin-padding(all, 0, all, null);
		}
	}
	.intigration-row {
		@include flexbox();
		@include flex-wrap($wrap);
		align-items: $align-items-center;
		border: 1px solid color("grey", "lighten-5");
		@include margin-padding(all, 0 0 0.625rem, all, 0.9375rem 1.875rem);
		&:last-child {
			@include margin-padding(all, 0, all, null);
		}
		h6 {
			@include font-rem(16px, 24px);
			color: color("grey", "darken-4");
			@include margin-padding(all, 0, all, null);
			@include font-weight(medium);
		}
		p {
			@include font-rem(12px, 24px);
			color: color("grey", "darken-1");
			@include margin-padding(all, 0, all, null);
		}
	}
	.logo {
		max-width: 8rem;
		flex: 0 0 8rem;
		@include flexbox();
		@include flex-wrap($wrap);
		align-items: $align-items-center;
		@include justify-content(center);
		@include margin-padding(all, 0 2.125rem 0 0, all, null);
	}
	.intigrat-row-content {
		flex: 1;
		@include flexbox();
		@include flex-wrap($wrap);
		align-items: $align-items-center;
		.btn {
			@include margin-padding(all, 0 0 0 auto, all, null);
			box-shadow: $none;
			padding: 0 1.8rem;
			max-width: 12rem;
			flex: 0 0 12rem;
		}
	}
	.scrollbar-inner > .scroll-element.scroll-y {
		right: $zero;
	}
}
.intigratInnerContent {
	flex: 1;
	@include margin-padding(all, 0 1rem 0 0, all, null);
}
.themeContent {
	height: calc(100% - 83px);
}
.themeAdvancedSettings {
	height: $height-hundred-per;
}
.themeAdvancedtabs {
	height: $height-hundred-per;
}
.tab-content-settings {
	height: calc(100% - 63px);
}
.tab-content-settings .scrollbar-inner > .scroll-element.scroll-y {
	right: $zero;
}
.themeAccordionContent {
	@include margin-padding(all, null, all, 2.2rem);
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.internetDomain {
		.enterDomains {
			.addDomainBtn {
				height: 3.75rem;
			}
			.material-icons {
				height: 3.2rem;
				line-height: 3.75rem;
			}
		} 
	}
	.themeAdvancedtabs {
		.tabCollapseArrow {
			.material-icons {
				line-height: 1.875rem;
				height: 1.25rem;
			}
		} 
	}
	.themeBtn {
		.material-icons {
			line-height: 2.8125rem;
		}
	}
}

/* Intigration Page end here */
