/* Sidebar Nav start here */

.sidebar-nav {
	width: 11.67rem;
	height: $height-hundred-per;
	@include navGradient(0deg, #8b8eff, #5f63ff);
	z-index: 5;
	@include fixed(top 0);
	@include transition(all 0.5s);
	.nav-menu-outer {
		background: $navPrimaryBg;
		flex: 1;
		@include flex(block);
	}
	ul {
		li {
			@include flex(list-item);
			float: $none;
			a {
				white-space: $white-spacenowrap;
				@include flex(flex);
				@include flex-align-items(center);
				@include margin-padding(all, null, all, 0 0 0 1.5625rem);
				color: color("indigo", "lighten-3");
				@include transition(all 0.5s);
				&:hover {
					background-color: $background-none;
					color: color("indigo", "lighten-5");

					.file-icon {
						background-position: -14px -65px;
					}
					.prieview-icon {
						background-position: -90px -64px;
					}
					.client-icon {
						background-position: -166px -64px;
					}
					.setting-icon {
						background-position: -242px -64px;
					}
				}
			}
		}
	}
	.common-icon-bg {
		@include icon(22.5px, 22.5px, (false));
		background-position: 0 0;
		@include transition(all 0.5s);
	}
	.file-icon {
		background-position: -14px -15px;
		&:hover {
			background-position: -14px -65px;
		}
	}
	.prieview-icon {
		background-position: -90px -14px;
		&:hover {
			background-position: -90px -64px;
		}
	}
	.client-icon {
		background-position: -166px -14px;
		&:hover {
			background-position: -166px -64px;
		}
	}
	.setting-icon {
		background-position: -242px -14px;
		&:hover {
			background-position: -242px -64px;
		}
	}
}

.sidebar-submenu {
	background: $navPrimaryBg;
	max-width: 14rem;
	width: $full-width;
	height: calc(100% - 5rem);
	@include fixed(top 5rem left 5rem);
	@include transition(all 0.5s);
	ul {
		@include margin-padding(all, 0, all, 2.5rem 0);
		li {
			a {
				@include font-rem(16px);
				@include flex(block);
				@include margin-padding(all, null, all, 1.2rem 1.875rem);
				color: rgba(255, 255, 255, 0.35);
				&:hover {
					color:color('shades','white');
					.lock-icon {
						@include opacity(1);
					}
				}
			}
			.active {
				color:color('shades','white');
			}
		}
	}
	.arrow-back {
		.material-icons {
			font-size: 1.5rem;
			color:color('shades','white');
			@include margin-padding(all, 0 1.875rem 1rem, all, null);
		}
	}
}
.sidebar-submenu.open-nav {
	left: -15rem;
}
.sidebar-nav.sidebar-nav-close {
	width: 5rem;
	ul {
		li {
			height: 50px;
			width: 50px;
			@include margin-direction(auto);
			margin-top: 15px;
			a {
				height: 50px;
				font-size: $zero;
				@include margin-padding(all, null, all, 0);
				@include border-radius($border-radius-hundred);
				@include flex-justify(center);
				.common-icon-bg {
					margin-right: $zero;
				}
				&:hover {
					background: color("indigo", "accent-3");
				}
			}
		}
	}
}
.full-width-nav {
	//background: color("indigo", "accent-4");
	@include flex(block);
	@include transition(all 0.5s);
	.nav-menu {
		background: color("indigo", "accent-4");
	}
}
#content.content-margin {
	margin-left: 11.65rem;
}
.animate-nav-icon {
	@include relative(top 0 left 0);
	// width: 70px;
	height: 70px;
	@include transition(all 0.5s);
	background: color("indigo", "base");
	cursor: $cursor-pointer;
	.icon {
		@include transition(all 0.5s);
		@include absolute(top 34px left 23px);
		height: 2.23px;
		width: 20px;
		background: color("shades", "white");
		@include border-radius(2px);
		&:before {
			@include transition(all 0.5s);
			@include absolute(top -7px left 3px);
			width: 15px;
			height: 2.23px;
			background: color("shades", "white");
			content: "";
			@include border-radius(6px);
		}
		&:after {
			@include transition(all 0.5s);
			@include absolute(top 7px left 3px);
			width: 15px;
			height: 2.23px;
			background: color("shades", "white");
			content: "";
			@include border-radius(6px);
		}
	}
	&.open .icon {
		@include transition(all 0.5s);
		@include transform(rotateZ(180deg));
		&:before {
			@include transform(rotateZ(45deg) scaleX(0.75) translate(14px, -6px));
			left: -2px;
		}
		&:after {
			@include transform(rotateZ(-45deg) scaleX(0.75) translate(14px, 6px));
			left: -2px;
		}
	}
}
.lock-icon {
	@include icon(16px, 20px, (true));
	background-position: -29px -745px;
	@include vertical-align(middle);
	@include opacity(0.35);
}
.current {
	left: 70px !important;
}
.clientpoint-logo {
	margin: $auto;
	max-width: 50px;
	width: $full-width;
	height: 43px;
	@include absolute(left 0 right 0 bottom 20px)
}


.sidebar-nav.sidebar-nav-close {
	.logo-big {
		@include flex(none);
	}
	.logo-small {
		@include flex(block);
	}
}


.sidebar-nav.full-width-nav {
	.logo-big {
		@include flex(block);
	}
	.logo-small {
		@include flex(none);
	}
	.clientpoint-logo {
		max-width: 115px;
		height: 26px;
	}
}


.arrow-back {
	padding: 0 !important;
}
.material-tooltip {
	background-color: color("grey", "lighten-4");
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
	@include border-radius(30px);
	font-size: 12px;
	color: color("grey", "darken-4");
	line-height: 8px;
	min-height: 30px;
	@include margin-padding(all, null, all, 10px 16px !important);
}

/* Sidebar Nav end  here */
