/* Clientpoint Detials page start here */

.clientDetailsContent {
	flex: 1;
	.titlerow {
		padding: 1.4rem 1.8125rem;
		border-bottom: 1px solid #efeff3;
		@include flexbox();
		@include flex-wrap($wrap);
		align-items: $align-items-center;
		background: $whiteBg;
		h5 {
			color: #181a51;
			font-size: $font-size-twenty;
			margin: $zero;
			line-height: 26px;
		}
		.clientMenu {
			margin-left: $margin-left-auto;
			@include flexbox();
			@include flex-wrap($wrap);
		}
		.clientMenuCommon {
			width: 1.68rem;
			height: 1.68rem;
			background: url(../images/common-icons.svg) no-repeat 0 0;
			margin-right: 2.5rem;
		}
		.clientMenuShare {
			background-position: -15px -127px;
		}
		.clientMenuComment {
			background-position: -89px -127px;
		}
		.clientMenuPdf {
			background-position: -165px -127px;
		}
		.clientMenuNewsletter {
			background-position: -241px -127px;
		}
		.btn {
			@extend %btn;
			padding: 0 1.4375rem;
			font-size: $font-size-fourteen;
			font-weight: $font-weight-500;
		}
		.btn-flat {
			color: #181a51;
			font-size: $font-size-fourteen;
			font-weight: $font-weight-500;
		}
		.newClientPointInput {
			width: $half-width;
			// max-width:23.4375rem;
			height: 26px;
			border: $border-none;
			font-size: $font-size-twenty;
			margin: $zero;
			&:focus {
				outline: $none;
				border: $none;
				box-shadow: $none;
			}
		}
	}
}
.detailInfo {
	@include flexbox();
	@include flex-wrap($wrap);
	height: calc(100% - 5.3rem);

	.information {
		padding: 2.5rem 1.875rem 0;
		max-width: 64.7%;
		flex: 0 0 64.7%;
		background: $whiteBg;
	}
	.information-row {
		border-bottom: 1px solid $border-color;
		margin-bottom: 1.875rem;
		&:last-child {
			margin-bottom: $zero;
			border-bottom: $none;
		}
	}
	.information-heading {
		@include flexbox();
		@include flex-wrap($wrap);
		align-items: $align-items-center;
		margin-bottom: 2rem;
		h6 {
			font-size: $font-size-sixteen;
			color: #181a51;
			margin: $zero;
			font-weight: $font-weight-500;
			line-height: 26px;
			margin-left: 11px;
			text-transform: $text-uppercase;
		}
	}

	.infoForm {
		.row.mb-15 {
			margin-bottom: $mb-15;
		}
	}
}
.infoCommon {
	padding: 0 1.4rem;
}

.input-field {
	margin-bottom: 2rem;
	input[type="text"] {
		@extend %inputFieldCommon;
	}
	label {
		@extend %labelCommon;
		img {
			width: $width-auto;
			height: $height-auto;
			margin-left: 10px;
		}
	}
}
.btnImportCrm {
	color: $default-color;
	margin-left: $margin-left-auto;
	font-size: 12px;
	font-weight: $font-weight-500;
	img {
		margin-right: 5px;
	}
}
.reciepent-row {
	// img {
	//     width: 2.75rem;
	//     height:2.75rem ;
	// }
	.btn {
		@extend %border-btn;
		@include inlineflex();
		align-items: $align-items-center;
		line-height: 33px;
		height: 33px;
		margin-top: 1.5rem;
		span {
			font-size: $font-size-twenty;
			margin-right: 6px;
		}
		&:hover {
			background: color("indigo", "base");
			color: $whiteColor;
		}
	}
	p {
		color: #696a8e;
		font-size: $font-size-fourteen;
		// line-height: 24px;
		margin-bottom: 25px;
		margin-top: $zero;
	}
	.switch {
		margin-bottom: 25px;
	}
}
.reciepent {
	padding: 0 0 0 2.1rem;
	margin-bottom: 30px;
}
.select-wrapper + label {
	transform: scale(1);
}
.advanceHeadingMargin {
	margin-left: 1.3125rem;
}
.btn-round {
	@extend %btn;
	padding: 0 1.4375rem;
	font-size: $font-size-fourteen;
	font-weight: $font-weight-500;
}

.information-heading .btn-round {
	font-size: $font-size-tweleve;
	text-transform: $text-capitalize;
	padding: 0.36rem 0.75rem;
	line-height: $line-height-normal !important;
	height: $height-auto !important;
	margin-left: 1.3125rem;
}
.reciepent-Select-margin {
	margin-top: $reciepent-Select-margin;
}
.InfoSidebarRight {
	background: color("grey", "lighten-5");
	padding: 20px;
	max-width: 35.3%;
	flex: 0 0 35.3%;
}
.select-wrapper input.select-dropdown {
	color: color("grey", "darken-2");
}

// Recipent Modal start here

.AddRecipientModal {
	max-height: 80%;
	max-width: 57rem;

	.modal-header {
		padding: 2.5rem 2.3rem 1.7rem 3.6rem;
	}

	.shareIcon {
		background: url(../images/common-icons.svg) no-repeat -23px -263px;
		width: 1.6rem;
		height: 1.85rem;
		margin-right: 11px;
	}
	.modal-content {
		padding: 0 3.6rem;
	}
	.AddRecipientContent-row {
		border: 1px solid color("grey", "lighten-3");
		margin-bottom: 1.4rem;
		padding: 1.9rem 0.7rem 0;
	}
	.modal-close {
		.material-icons {
			color: color("grey", "darken-4");
		}
	}
	.input-field {
		margin-bottom: 1.2rem;
		label {
			font-size: 14px;
			text-transform: $text-capitalize;
			color: $recipentlabelColor;
		}
		input,
		input[type="text"] {
			font-size: 14px;
			border-bottom: 2px solid color("grey", "lighten-3");
		}
		input[type="text"]::placeholder {
			color: color("grey", "lighten-3");
			opacity: 1;
		}

		input[type="text"]:-ms-input-placeholder {
			color: color("grey", "lighten-3");
		}

		input[type="text"]::-ms-input-placeholder {
			color: color("grey", "lighten-3");
		}
	}
}

.modal-footer {
	background-color: color("shades", "transparent");
	padding: 0 3.5rem 3.8125rem;
	height: $height-auto;
	text-align: $text-left;
	.btn-flat {
		margin: $zero;
		padding: $zero;
		font-size: 0.95rem;
		font-weight: 500;
		@include flexbox();
		align-items: $align-items-center;
		color: color("indigo", "base");
		.material-icons {
			font-size: 1.26rem;
			line-height: $line-height-twentysix;
			margin-right: 5px;
		}
	}
	.btn-round {
		padding: 0 2.62rem;
		margin-right: 2.5rem !important;
	}
}
.btn-row {
	@include flexbox();
	align-items: $align-items-center;
	@include flex-wrap($wrap);
	margin-top: 1.2rem;
	.btn-flat {
		color: color("grey", "darken-4");
		font-weight: $font-weight-500;
		font-size: 14px;
		//margin-left: 1.875rem;
	}
}
.mb-0 {
	margin-bottom: 0 !important;
}
.reciepent-row-repeate {
	@include flexbox();
	align-items: $align-items-center;
	@include flex-wrap($wrap);
	padding: 9px 12px 9px;
	transition: $transiton;
	position: $position-relative;
	&:hover {
		background: color("grey", "lighten-4");
	}
	.reciepent-user {
		margin-right: 1rem;
		max-width: 44px;
		flex: 0 0 44px;
	}
	h6 {
		font-size: $font-size-sixteen;
		color: color("indigo", "base");
		line-height: $line-height-twentysix;
		margin: $zero;
	}
	p {
		font-size: $font-size-fourteen;
		color: color("grey", "darken-2");
		margin: $zero;
	}
	&:hover {
		.removeReciepent {
			background: #efeff3 url(../images/common-icons.svg) no-repeat -371px -258px;
			width: 2.9rem;
			height: 2.9rem;
			margin-left: $margin-left-auto;
			border-radius: $border-radius-thirty;
		}
	}
	.dropdown-content {
		top: 66px !important;
		height: auto !important;
		right: 0 !important;
		left: auto !important;

		.RemoveRecipient {
			background: #efeff3 url(../images/common-icons.svg) no-repeat -371px -258px;
			width: 2.9rem;
			height: 2.9rem;
			margin-left: $margin-left-auto;
			border-radius: $border-radius-thirty;
		}
		li {
			a {
				font-size: $font-size-fourteen;
				color: color("grey", "darken-4");
				@include flexbox();
				align-items: $align-items-center;
				padding: 19px 20px;
				.deleteIcon {
					background: url(../images/common-icons.svg) no-repeat -322px -266px;
					width: 1.2rem;
					height: 1.5rem;
					margin-right: 1.1875rem;
				}
			}
		}
	}
}
.clientpointPreview {
	width: $full-width;
}
.removeTopSpace {
	top: $zero !important;
	height: $height-hundred-per !important;
	z-index: 6 !important;
}
.topBarClientPoint .overlay {
	top: $zero;
	z-index: 4;
}
#CommentsClientPoint {
	.outerScrollViewer {
		height: calc(100% - 246px);
	}
}
/* Clientpoint Detials page end here */
