/* Clientpoint Detials page start here */

.client-details-content {
	flex: 1;
	.titlerow {
		@include margin-padding(all, null, all, 1.4rem 1.8125rem);
		border-bottom: 1px solid #efeff3;
		@include flex(flex);
		@include flex-wrap(wrap);
		@include flex-align-items(center);
		background: color("shades", "white");
		h5 {
			color: #181a51;
			@include font-rem(20px, 26px);
			@include margin-padding(all, 0, all, null);
		}
		.client-menu {
			@include margin-direction(left);
			@include flex(flex);
			@include flex-wrap(wrap);
		}
		.client-menu-common {
			@include icon(23.6px, 23.6px, (null));
			margin-right: 2.5rem;
			&.client-menu-share {
				background-position: -15px -127px;
			}
			&.client-menu-comment {
				background-position: -89px -127px;
			}
			&.client-menu-pdf {
				background-position: -165px -127px;
			}
			&.client-menu-newsletter {
				background-position: -241px -127px;
			}
		}

		.btn {
			@extend %btn;
			@include margin-padding(all, null, all, 0 1.4375rem);
			@include font-rem(14px);
			@include font-weight(medium);
		}
		.btn-flat {
			color: #181a51;
			@include font-rem(14px);
			@include font-weight(medium);
		}
		.new-client-pointInput {
			width: $half-width;
			// max-width:23.4375rem;
			height: 26px;
			border: $border-none;
			@include font-rem(14px);
			@include margin-padding(all, 0, all, null);
			&:focus {
				outline: $none;
				border: $none;
				box-shadow: $none;
			}
		}
	}
}
.detail-info {
	@include flex(flex);
	@include flex-wrap(wrap);
	height: calc(100% - 5.3rem);

	.information {
		padding: 2.5rem 1.875rem 0;
		max-width: 64.7%;
		flex: 0 0 64.7%;
		background: color('shades','white');
	}
	.information-row {
		border-bottom: 1px solid $border-color;
		margin-bottom: 1.875rem;
		&:last-child {
			margin-bottom: $zero;
			border-bottom: $none;
		}
	}
	.information-heading {
		@include flex(flex);
		@include flex-wrap(wrap);
		@include flex-align-items(center);
		margin-bottom: 2rem;
		h6 {
			@include font-rem(16px, 26px);
			color: #181a51;
			@include margin-padding(all, 0, all, null);
			@include font-weight(medium);
			margin-left: 11px;
			text-transform: text-map("text-transform", "uppercase");
		}
	}

	.info-form {
		.row.mb-15 {
			margin-bottom: $mb-15;
		}
	}
}
.info-common {
	@include margin-padding(all, null, all, 0 1.4rem);
}

.input-field {
	margin-bottom: 2rem;
	input[type="text"] {
		@extend %inputFieldCommon;
	}
	label {
		@extend %labelCommon;
		img {
			width: $width-auto;
			height: $height-auto;
			margin-left: 10px;
		}
	}
}
.btn-import-crm {
	color: $default-color;
	@include margin-direction(left);
	@include font-rem(12px);
	@include font-weight(medium);
	img {
		margin-right: 5px;
	}
}
.reciepent-row {
	// img {
	//     width: 2.75rem;
	//     height:2.75rem ;
	// }
	.btn {
		@extend %border-btn;
		@include flex(inline-flex);
		@include flex-align-items(center);
		line-height: 33px;
		height: 33px;
		margin-top: 1.5rem;
		span {
			@include font-rem(20px);
			margin-right: 6px;
		}
		&:hover {
			background: color("indigo", "base");
			color: color("shades", "white");
		}
	}
	p {
		color: #696a8e;
		@include font-rem(14px);
		@include margin-padding(all, 0 0 1.5625rem 0, all, null);
	}
	.switch {
		@include margin-padding(all, 0 0 1.5625rem 0, all, null);
	}
}
.reciepent {
	@include margin-padding(all, null, all, 0 0 0 2.1rem);
	margin-bottom: 30px;
}
.select-wrapper + label {
	@include transform(scale(1));
}
.advance-heading-margin {
	margin-left: 1.3125rem;
}
.btn-round {
	@extend %btn;
	@include margin-padding(all, null, all, 0 1.4375rem);
	@include font-rem(13px);
	@include font-weight(medium);
}

.information-heading .btn-round {
	@include font-rem(12px);
	text-transform: text-map("text-transform", "capitalize");
	line-height: $line-height-normal !important;
	height: $height-auto !important;
	@include margin-padding(all, 0 0 0 1.3125rem, all, 0.36rem 0.75rem);
}
.reciepent-select-margin {
	margin-top: $reciepent-select-margin;
}
.info-sidebar-right {
	background: color("grey", "lighten-5");
	@include margin-padding(all, null, all, 1.375rem);
	max-width: 35.3%;
	flex: 0 0 35.3%;
}
.select-wrapper {
	input {
		&.select-dropdown {
			color: color("grey", "darken-2");
		}
	}
}

// Recipent Modal start here

.add-recipient-modal {
	max-height: 80%;
	max-width: 57rem;

	.modal-header {
		@include margin-padding(all, null, all, 2.5rem 2.3rem 1.7rem 3.6rem);
	}

	.share-icon {
		@include icon(23px, 26px, (false));
		background-position: -23px -263px;
	}
	.modal-content {
		@include margin-padding(all, null, all, 0 3.6rem);
	}
	.add-recipient-content-row {
		border: 1px solid color("grey", "lighten-3");
		@include margin-padding(all, 0 0 1.4rem 0, all, 1.9rem 0.7rem 0);
	}
	.modal-close {
		.material-icons {
			color: color("grey", "darken-4");
		}
	}
	.input-field {
		margin-bottom: 1.2rem;
		label {
			font-size: 1rem;
			text-transform: text-map("text-transform","capitalize");
			color: $recipentlabelColor;
		}
		input,
		input[type="text"] {
			font-size: 1rem;
			border-bottom: 2px solid color("grey", "lighten-3");
		}
		@include input-placeholder {
			color: color("grey", "lighten-3");
		}
	}
}

.modal-footer {
	background-color: color("shades", "transparent");
	@include margin-padding(all, null, all, 0 3.5rem 3.8125rem);
	height: $height-auto;
	text-align: text-map("text-align","left");
	.btn-flat {
		@include margin-padding(all, 0, all, 0);
		@include font-weight(medium);
		font-size: 0.95rem;
		@include flex(flex);
		@include flex-align-items(center);
		color: color("indigo", "base");
		.material-icons {
			@include font-rem(20px, 26px);
			margin-right: 5px;
		}
	}
	.btn-round {
		@include margin-padding(all, null, all, 0 2.62rem);
		margin-right: 2.5rem !important;
	}
}
.btn-row {
	@include flex(flex);
	@include flex-align-items(center);
	@include flex-wrap(wrap);
	margin-top: 1.2rem;
	.btn-flat {
		color: color("grey", "darken-4");
		@include font-weight(medium);
		@include font-rem(14px);
	}
}
.mb-0 {
	margin-bottom: 0 !important;
}
.reciepent-row-repeate {
	@include flex(flex);
	@include flex-align-items(center);
	@include flex-wrap(wrap);
	@include margin-padding(all, null, all, 0.625rem 0.8125rem 0.625rem);
	@include transition(0.5s);
	@include relative;
	&:hover {
		background: color("grey", "lighten-4");
	}
	.reciepent-user {
		margin-right: 1rem;
		max-width: 44px;
		flex: 0 0 44px;
	}
	h6 {
		@include font-rem(16px, 26px);
		color: color("indigo", "base");
		@include margin-padding(all, 0, all, null);
	}
	p {
		@include font-rem(14px);
		color: color("grey", "darken-2");
		@include margin-padding(all, 0, all, null);
	}
	&:hover {
		.remove-reciepent {
			background: #efeff3 url(../images/common-icons.svg) no-repeat -371px -258px;
			width: 2.9rem;
			height: 2.9rem;
			@include margin-direction(left);
			@include border-radius(30px);
			@include flex(inline-block);
		}
	}
	.dropdown-content {
		top: 66px !important;
		height: auto !important;
		right: 0 !important;
		left: auto !important;

		.remove-recipient {
			background: #efeff3 url(../images/common-icons.svg) no-repeat -371px -258px;
			width: 2.9rem;
			height: 2.9rem;
			@include margin-direction(left);
			@include border-radius(30px);
		}
		li {
			a {
				@include font-rem(14px);
				color: color("grey", "darken-4");
				@include flex(flex);
				@include flex-align-items(center);
				@include margin-padding(all, null, all, 1.1875rem 1.25rem);
			}
		}
		.delete-icon {
			@include icon(17px, 21px, (null));
			background-position: -322px -266px;
			margin-right: 1.1875rem;
		}
	}
}
.clientpoint-preview {
	width: $full-width;
}
.remove-top-space {
	top: $zero !important;
	height: $height-hundred-per !important;
	z-index: 6 !important;
}
.top-bar-clientpoint .overlay {
	top: $zero;
	z-index: 4;
}
#comments-clientpoint {
	.outer-scroll-viewer {
		height: calc(100% - 246px);
	}
}
/* Clientpoint Detials page end here */
