/* Library CSS start here */
.newClientPointTitleBar {
	.library-header-right {
		@include flexbox();
		//@include flex-wrap($wrap);
		align-items: $align-items-center;
		flex: 1;
		justify-content: flex-end;
		.commonDefaultSearch {
			@include margin-padding(all, 0 1.25rem 0 0, all, null);
		}
		.btn-round {
			@include flexbox();
			@include margin-padding(all, null, all, 0 1.625rem);
			.material-icons {
				@include margin-padding(all, 0 0 0 0.5rem, all, null);
			}
		}
	}
}
.tileIcon {
	display: $display-inline-block;
	background: url(../images/common-icons.svg) no-repeat -320px -1454px;
	@include w-h-rem(20px, 20px);
}
.folderIconLibrary {
	display: $display-inline-block;
	background: url(../images/common-icons.svg) no-repeat -242px -199px;
	@include w-h-rem(25px, 18px);
	@include margin-padding(all, 0 0.3rem 0 0, all, null);
	vertical-align: $verticle-align-middle;
}
.libraryLinks {
	background: url(../images/common-icons.svg) no-repeat -315px -339px;
	display: $display-inline-block;
	@include w-h-rem(30px, 30px);
	vertical-align: $verticle-align-middle;
	@include border-radius(100%);
	&:hover,
	&:focus,
	&:active {
		background: #efeff3 url(../images/common-icons.svg) no-repeat -315px -339px;
	}
}
.libraryTable {
	table {
		tr {
			&:hover {
				background: color("grey", "lighten-4");
			}
		}
		th {
			@include margin-padding(all, null, all, 1rem 1.875rem);
		}
		td {
			@include margin-padding(all, null, all, 0.7rem 1.875rem);
		}
		label {
			vertical-align: $verticle-align-middle;
			display: $display-inline-block;
			@include w-h-rem(17px, 17px);
			@include margin-padding(all, 0 0.7rem 0 0, all, null);
		}
	}
	.duplicateIcon {
		background: url(../images/common-icons.svg) no-repeat -169px -663px;
		width: 1.4rem;
		height: 1.4rem;
		margin-right: 0.8rem;
		display: $display-inline-block;
	}
	.editIcon {
		@extend .duplicateIcon;
		background: url(../images/common-icons.svg) no-repeat -246px -663px;
	}
	.downloadIcon {
		@extend .duplicateIcon;
		height: 1.6rem;
		background: url(../images/common-icons.svg) no-repeat -324px -1227px;
	}
	.templateIcon {
		@extend .duplicateIcon;
		background: url(../images/common-icons.svg) no-repeat -390px -1452px;
	}
	.deleteIcon {
		@extend .duplicateIcon;
		background: url(../images/common-icons.svg) no-repeat -30px -1524px;
	}
}

.tableOptions {
	@include flexbox();
	//align-items: $align-items-center;
	@include flex-wrap($wrap);
	@include absolute(top auto left 0 bottom -15rem right auto);
	width: $full-width;
	background: color("shades", "white");
	@include box-shadow(0, -2px, 10px, rgba(0, 0, 0, 0.1));
	@include margin-padding(all, null, all, 2.3125rem 3.125rem 1.8rem);
	@include transition(all 0.5s);
	.backArrow {
		background: url(../images/common-icons.svg) no-repeat -176px -1522px;
		width: 1.3rem;
		height: 1.4rem;
		margin-right: 0.625rem;
		display: $display-inline-block;
	}
	.options {
		@include font-rem(14px, 16px);
		@include font-weight(medium);
		text-transform: $text-uppercase;
		color: color("grey", "darken-4");
		@include flexbox();
		align-items: $align-items-center;
		@include flex-wrap($wrap);
		@include margin-padding(all, 0 2.5rem 0.5rem 0, all, null);
	}
	.editIcon {
		@extend .backArrow;
		background: url(../images/common-icons.svg) no-repeat -246px -663px;
	}
	.downloadIcon {
		@extend .backArrow;
		background: url(../images/common-icons.svg) no-repeat -324px -1227px;
	}
	.deleteIcon {
		@extend .backArrow;
		background: url(../images/common-icons.svg) no-repeat -30px -1524px;
	}

	.tableEditOptions {
		@include flexbox();
		align-items: $align-items-center;
		@include flex-wrap($wrap);
		flex: 1;
		@include margin-padding(all, 0 0 0 0.625rem, all, null);
	}
}
.tableOptions.hideOptions {
	@include flexbox();
	bottom: $zero;
}
.libraryTable {
	height: calc(100% - 82px);
}
.scrollHidden {
	overflow: $hidden;
}
.libraryTable .scrollbar-inner > .scroll-element.scroll-y {
	right: 0;
}
.exportDownIcons {
	align-items: $align-items-center;
	@include flexbox();
	.material-icons {
		color: color("indigo", "base");
		vertical-align: $verticle-align-middle;
	}
}
/* Library CSS end here */
