/* Library CSS start here */
.newclientpoint-title-bar {
	.library-header-right {
		@include flex(flex);
		@include flex-align-items(center);
		@include flex-justify(flex-end);
		flex: 1;
		.common-default-search {
			@include margin-padding(all, 0 1.25rem 0 0, all, null);
		}
		.btn-round {
			@include flex(flex);
			@include margin-padding(all, null, all, 0 1.625rem);
			.material-icons {
				@include margin-padding(all, 0 0 0 0.5rem, all, null);
			}
		}
	}
}
.tile-icon {
	@include flex(inline-block);
	background: url(../images/common-icons.svg) no-repeat -320px -1454px;
	@include w-h-rem(20px, 20px);
}
.library-folder-icon {
	@include flex(inline-block);
	background: url(../images/common-icons.svg) no-repeat -242px -199px;
	@include w-h-rem(25px, 18px);
	@include margin-padding(all, 0 0.3rem 0 0, all, null);
	@include vertical-align(middle);
}
.library-links {
	background: url(../images/common-icons.svg) no-repeat -315px -339px;
	@include flex(inline-block);
	@include w-h-rem(30px, 30px);
	@include vertical-align(middle);
	@include border-radius(100%);
	&:hover,
	&:focus,
	&:active {
		background: #efeff3 url(../images/common-icons.svg) no-repeat -315px -339px;
	}
}
.library-table {
	table {
		tr {
			&:hover {
				background: color("grey", "lighten-4");
			}
		}
		th {
			@include margin-padding(all, null, all, 1rem 1.875rem);
		}
		td {
			@include margin-padding(all, null, all, 0.7rem 1.875rem);
		}
		label {
			@include vertical-align(middle);
			@include flex(inline-block);
			@include w-h-rem(17px, 17px);
			@include margin-padding(all, 0 0.7rem 0 0, all, null);
		}
	}
	.duplicate-icon {
		@include icon(19.5px, 19.5px, (false));
		background-position: -169px -663px;
	}
	.edit-icon {
		@extend .duplicate-icon;
		background-position: -246px -663px;
	}
	.download-icon {
		@extend .duplicate-icon;
		height: 1.6rem;
		background-position: -324px -1227px;
	}
	.template-icon {
		@extend .duplicate-icon;
		background-position: -390px -1452px;
	}
	.delete-icon {
		@extend .duplicate-icon;
		background-position: -30px -1524px;
	}
}

.table-options {
	@include flex(flex);
	@include flex-wrap(wrap);
	@include absolute(top auto left 0 bottom -15rem right auto);
	width: $full-width;
	background: color("shades", "white");
	@include box-shadow(0, -2px, 10px, rgba(0, 0, 0, 0.1));
	@include margin-padding(all, null, all, 2.3125rem 3.125rem 1.8rem);
	@include transition(all 0.5s);
	.back-arrow {
		@include icon(18.5px, 20px, (false));
		background-position: -176px -1522px;
	}
	.options {
		@include font-rem(14px, 16px);
		@include font-weight(medium);
		text-transform: text-map("text-transform", "uppercase");
		color: color("grey", "darken-4");
		@include flex(flex);
		@include flex-align-items(center);
		@include flex-wrap(wrap);
		@include margin-padding(all, 0 2.5rem 0.5rem 0, all, null);
	}
	.edit-icon {
		@extend .back-arrow;
		background-position: -246px -663px;
	}
	.download-icon {
		@extend .back-arrow;
		background-position: -324px -1227px;
	}
	.delete-icon {
		@extend .back-arrow;
		background-position: -30px -1524px;
	}

	.table-edit-options {
		@include flex(flex);
		@include flex-align-items(center);
		@include flex-wrap(wrap);
		flex: 1;
		@include margin-padding(all, 0 0 0 0.625rem, all, null);
	}
}
.table-options.hideOptions {
	@include flex(flex);
	bottom: $zero;
}
.library-table {
	height: calc(100% - 82px);
}
.scrollHidden {
	overflow: $hidden;
}
.library-table .scrollbar-inner > .scroll-element.scroll-y {
	right: $zero;
}
.export-down-icons {
	@include flex-align-items(center);
	@include flex(flex);
	.material-icons {
		color: color("indigo", "base");
		@include vertical-align(middle);
	}
}
.library-empty-state {
	text-align: text-map("text-align", "center");
	max-width: 24rem;
	width: $full-width;
	@include margin-padding(all, 5rem auto, all, null);
	p {
		@include font-rem(14px, 24px);
		color: color("blue-grey", "darken-1");
	}
	.link {
		@include text-decoration(underline);
	}
}
/* Library CSS end here */
