/* Recieved ClientPoint CSS Start Here */

.filters {
	@include flexbox();
	align-items: $align-items-center;
	@include flex-wrap($wrap);
	@include margin-padding(all, null, all, 0 2.5rem);
	.material-icons {
		color: color("indigo", "base");
		vertical-align: $verticle-align-middle;
		height: 1.5rem;
	}
}
.calender-padding {
	@include margin-padding(all, null, all, 0 2rem 0 2.5rem);
	border-right: 1px solid color("grey", "lighten-5");
}
.new-btn-clientpoint {
	@include margin-padding(all, null, all, 0 4.2rem !important);
	.material-icons {
		@include margin-padding(all, 0 0.2rem 0 0 !important, all, null);
		height: 36px;
		line-height: 36px;
		vertical-align: $verticle-align-middle;
	}
}
.dark-green-badge {
	background: color("teal", "lighten-2") !important;
}
#clientpoint-recieved-dropdwon {
	@include margin-padding(all, null, all, 1.2rem 0.6rem);
	li {
		min-height: inherit;
		line-height: $normal;
		&:hover {
			background: color("shades", "transparent");
		}
		a {
			@include font-rem(14px);
			color: color("grey", "darken-4");
			@include margin-padding(all, null, all, 0.4375rem 1rem);
		}
	}
}
.data-table {
	.user-image {
		display: $display-inline-block;
		@include margin-padding(all, 0 1rem 0 0, all, null);
		vertical-align: $verticle-align-middle;
		img {
			vertical-align: $verticle-align-middle;
		}
	}
	// tr{
	// 	&.active-row {
	// 		td {
	// 			vertical-align: $verticle-align-top;
	// 		}
	// 	}
	// }
}
.recieved-dropdown-arrow {
	vertical-align: $verticle-align-middle;
	//height: 1.25rem;
	display: $display-inline-block;
	.material-icons {
		vertical-align: $verticle-align-middle;
	}
}
.user-info {
	@include margin-padding(all, null, all, 0 0 0 4.4rem);
	display: $none;
	.email-icon {
		background: url(../images/common-icons.svg) no-repeat -382px -413px;
		width: 1.2rem;
		height: 1.4rem;
		margin-right: 0.4rem;
		@include margin-padding(all, 0 0.4rem 0 -1.7rem, all, null);
		display: $display-inline-block;
		vertical-align: $verticle-align-middle;
	}
	.phone-icon {
		@extend .email-icon;
		background: url(../images/common-icons.svg) no-repeat -26px -500px;
	}
	.mobile-phone-icon {
		@extend .email-icon;
		background: url(../images/common-icons.svg) no-repeat -90px -497px;
	}
	.location-icon {
		@extend .email-icon;
		background: url(../images/common-icons.svg) no-repeat -321px -1522px;
	}
	p {
		@include font-rem(14px, 24px);
		color: color("grey", "darken-2");
		@include margin-padding(all, 0 0 0.3125rem 0, all, 0 0 0 1.7rem);
	}
}
.recieved-dropdown-arrow {
	&.user-toggle {
		.material-icons {
			@include transform(rotate(180deg));
		}
	}
}

.recieved-dropdown-arrow {
	&.rotate-arrow {
		.material-icons {
			@include transform(rotate(0deg));
		}
	}
}
.flex-none {
	flex: $none !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.new-btn-clientpoint {
		.material-icons {
			height: 39px;
			line-height: 39px;
		}
	}

	.filters {
		.material-icons {
			vertical-align: $verticle-align-middle;
			height: 1.5rem;
		}
	}
	.hover-dropdown {
		vertical-align: $verticle-align-middle;
	}
	.calender-date-iconUi {
		@include margin-padding(all, null, all, 6px 16px !important);
	}
}

/* Recieved ClientPoint CSS End Here */
