/* Dashboard CSS start here */
.this-week {
	@include font-rem(14px, 24px);
	color: color("grey", "darken-4");
	text-transform: text-map("text-transform","capitalize");
	@include font-weight(normal);
	@include margin-padding(all, 0 0 0 auto, all, null);
}
.ml-inherit {
	margin-left: inherit !important;
}
.activity-board {
	background: color("shades", "white");
	@include border-radius(5px);
	.activity-header {
		@include flex(flex);
		@include flex-wrap(wrap);
		@include flex-align-items(center);
		@include border-radius(0);
		background-color: color("shades", "transparent");
		border-bottom: 1px solid color("grey", "lighten-5");
		padding: 19px 20px;
		width: $full-width;
		h5 {
			color: color("grey", "darken-4");
			@include font-rem(16px);
			text-transform: text-map("text-transform","uppercase");
			@include font-weight(semi-bold);
			@include margin-padding(all, 0 auto 0 0, all, null);
		}
		.material-icons {
			margin-right: $zero;
			color: color("indigo", "base");
			font-size: 1.9rem;
			@include transition(all 0.5s);
		}
	}
	.activity-list {
		@include margin-padding(all, null, all, 20px 0);
		border-bottom: 2px solid color("grey", "lighten-5");
		.activity-row {
			@include flex-align-items(center);
			@include flex(flex);
			@include flex-wrap(wrap);
			@include margin-padding(all, 0 0 15px 0, all, 0 30px 0 20px);
			border-left: 3px solid color("shades", "transparent");
			&:last-child {
				@include margin-padding(all, 0, all, null);
			}
			&:hover {
				border-left: 3px solid color("indigo", "base");
			}
			h6 {
				@include font-rem(16px, 24px);
				@include font-weight(normal);
				color: color("blue-grey", "darken-1");
				@include margin-padding(all, 0, all, null);
			}
			.count {
				@include margin-direction(left);
				@include font-rem(16px, 24px);
				@include font-weight(normal);
				color: color("blue-grey", "darken-1");
			}
		}
		.active {
			border-left: 3px solid color("indigo", "base");
			h6 {
				@include font-weight(semi-bold);
				color: color("grey", "darken-4");
			}
			.count {
				@include font-weight(semi-bold);
				color: color("grey", "darken-4");
			}
		}
	}
	.recentyly-created {
		@include margin-padding(all, null, all, 20px 0 0);
		h4 {
			@include font-rem(14px, 24px);
			color: color("grey", "darken-4");
			text-transform: text-map("text-transform","uppercase");
			@include font-weight(bold);
			@include margin-padding(all, 0 0 10px, all, 0 20px);
		}
	}
	.created-row {
		@include margin-padding(all, null, all, 13px 30px);
		border-bottom: 1px solid color("grey", "lighten-5");
		&:hover {
			background: color("grey", "lighten-4");
		}
		&:last-child {
			border-bottom: $none;
		}
		.created-row-head {
			@include flex-align-items(center);
			@include flex(flex);
			@include flex-wrap(wrap);
			h5 {
				@include margin-padding(all, 0, all, null);
				@include font-rem(12px, 24px);
				color: color("grey", "darken-1");
				@include font-weight(500);
				text-transform: text-map("text-transform","uppercase");
				 letter-spacing: 0.25px;
			}
		}
		.dropdown-icon {
			width: 30px;
			height: 30px;
			@include border-radius(30px);
			@include flex(flex);
			@include flex-align-items(center);
			@include flex-justify(center);
			margin-right: $zero;
			background: url(../images/common-icons.svg) no-repeat -315px -339px;
			display: $display-inline-block;
			@include vertical-align(middle);
			@include margin-padding(all, 0 0 0 auto, all, null);
			&:hover,
			&:focus,
			&:active {
				background: #efeff3 url(../images/common-icons.svg) no-repeat -315px -339px;
			}
		}
		.created-content {
			h6 {
				@include font-rem(15px, 24px);
				color: color("grey", "darken-4");
				@include margin-padding(all, 0 0 10px, all, null);
			}
		}
	}
	.status {
		@include flex-align-items(center);
		@include flex(flex);
		@include flex-wrap(wrap);
		.status-leftpanel {
			@include margin-padding(all, 0 3.375rem 0 0, all, null);
		}
		h5 {
			@include margin-padding(all, 0, all, null);
			@include font-rem(12px, 24px);
			color: color("grey", "darken-1");
			@include font-weight(500);
			text-transform: text-map("text-transform","uppercase");
			letter-spacing: 0.25px;
		}
		.badge {
			background: #00b0dc;
			color: color("shades", "white");
			@include border-radius(5px);
			@include font-rem(13px, 24px);
			@include font-weight(500);
			height: $height-auto;
			@include margin-padding(all, 0, all, null);
			min-width: 7rem;
		}
		.badge-yellow {
			background: #ffa400;
		}
		.last-viewed {
			h6 {
				@include font-rem(14px, 24px);
				color: color("grey", "darken-2");
				@include margin-padding(all, 0, all, null);
			}
		}
	}
}
.viewed-dropdown-content {
	min-width: 189px;
	@include margin-padding(all, null, all, 22px 30px 19px !important);
	li {
		@include font-rem(14px, 20px);
		color: color("grey", "darken-4");
		min-height: inherit;
		@include margin-padding(all, 0 0 21px, all, 0);
		&:hover {
			background: color("shades", "transparent");
		}
		&:last-child {
			@include margin-padding(all, 0, all, null);
		}
		a {
			@include flex-align-items(center);
			@include flex(flex);
			@include flex-wrap(wrap);
			@include font-rem(14px, 20px);
			color: color("grey", "darken-4");
			@include margin-padding(all, null, all, 0);
		}
	}
	.share-icon {
		@include icon(20px, 20px, (false));
		background-position:  -170px -897px;
	}
	.comment-icon {
		@extend .share-icon;
		background-position: -243px -897px;
	}
	.prieview-icon {
		@extend .share-icon;
		background-position: -26px -976px;
	}
	.print-icon {
		@extend .share-icon;
		background-position: -93px -976px;
	}
	.send-icon {
		@extend .share-icon;
		background-position: -167px -976px;
	}
	.edit-icon {
		@extend .share-icon;
		background-position: -244px -976px;
	}
	.archive-icon {
		@extend .share-icon;
		background-position: -247px -1522px;
	}
}

.dashboard-scroll-height {
	height: calc(100% - 62px);
}
.dashboard-scroll-height .scrollbar-inner > .scroll-element.scroll-y {
	right: $zero;
}
.activity-board {
	.collapsible-header {
		border: $none !important;
		@include margin-padding(all, null, all, 0 !important);
		background: color("shades", "transparent") !important;
	}
	li.active {
		.material-icons {
			@include transform(rotate(180deg));
		}
	}
	.activity-list {
		.active {
			border-left: 3px solid #5f63ff !important;
			&:before {
				@include flex(none);
			}
		}
	}
}
.just-yet-para {
	@include font-rem(14px, 26px);
	color: color("blue-grey", "darken-1");
}
.just-link {
	text-decoration: text-map("text-decoration","underline");
	@include font-weight(medium);
}
.filter-expended {
	display: $none;
	@include margin-padding(all, 0 0 1.875rem, all, null);
	.fiter-expeded-row {
		@include margin-padding(all, 0 0 1.25rem 0, all, null);
		label {
			span {
				@include font-rem(14px);
				color: color("grey", "darken-4");
				@include font-weight(medium);
			}
		}
	}
	[type="checkbox"] + span:not(.lever) {
		padding-left: 27px;
	}
	.btn-flat {
		color: color("indigo", "base");
		letter-spacing: 0.7px;
		@include font-weight(medium);
	}
}
.filter-border {
	border: $none;
	border-bottom: 1px solid color("grey", "lighten-5");
	@include margin-padding(all, 1.875rem 0 0, all, null);
}
.filter-arrow-dropdown {
	.material-icons {
		@include transform(rotate(180deg));
		@include transition(all 0.5s);
		@include vertical-align(middle);
	}
}
.filter-arrow-dropdown.active {
	.material-icons {
		@include transform(rotate(0deg));
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.filter-arrow-dropdown {
		.material-icons {
			height: 1.2rem;
			@include vertical-align(middle);
		}
	}
	.activity-header {
		.material-icons {
			height: 1.5rem;
		}
	}
	.anaytics-overview-header {
		.view-more {
			.material-icons {
				height: 1rem;
			}
		}
	}
}
/* Dashboard CSS end here */

/* DashBoard Empty state start here */

.dashboard-empty-state {
	max-width: 40.625rem;
	width: $full-width;
	@include margin-padding(all, 33px auto 0, all, null);
	text-align:text-map("text-align","center");
	p {
		@include font-rem(14px, 22px);
		color: color('blue-grey','darken-1');
		@include margin-padding(all, 20px 0 0, all, null);
	}
	.link {
		color:color('indigo','base');
		text-decoration: text-map("text-decoration","underline");
	}
}


/* DashBoard Empty state end here */
