/* Dashboard CSS start here */

.thisWeek {
	@include font-rem(14px, 24px);
	color: color("grey", "darken-4");
	text-transform: $text-capitalize;
	@include font-weight(normal);
	@include margin-padding(all, 0 0 0 auto, all, null);
}
.ml-inherit {
	margin-left: inherit !important;
}
.activityBoard {
	background: color("shades", "white");
	@include border-radius(5px);
	.ativityHeader {
		@include flexbox();
		@include flex-wrap($wrap);
		align-items: $align-items-center;
		border-radius: $zero;
		background-color: color("shades", "transparent");
		font-size: $font-size-sixteen;
		color: color("grey", "darken-4");
		text-transform: $text-uppercase;
		font-weight: $font-weight-600;
		border-bottom: 1px solid color("grey", "lighten-5");
		padding: 19px 20px;
		.material-icons {
			margin-right: $zero;
			color: color("indigo", "base");
			font-size: 1.9rem;
			transition: $transiton;
		}
	}
	.activity-list {
		@include margin-padding(all, null, all, 20px 0);
		border-bottom: 2px solid color("grey", "lighten-5");
		.activity-row {
			align-items: $align-items-center;
			@include flexbox();
			@include flex-wrap($wrap);
			@include margin-padding(all, 0 0 15px 0, all, 0 30px);
			border-left: 3px solid color("shades", "transparent");
			&:last-child {
				@include margin-padding(all, 0, all, null);
			}
			&:hover {
				border-left: 3px solid color("indigo", "base");
			}
			h6 {
				@include font-rem(16px, 24px);
				@include font-weight(normal);
				color: color("blue-grey", "darken-1");
				@include margin-padding(all, 0, all, null);
			}
			.count {
				margin-left: $margin-left-auto;
				@include font-rem(16px, 24px);
				@include font-weight(normal);
				color: color("blue-grey", "darken-1");
			}
		}
		.active {
			border-left: 3px solid color("indigo", "base");
			h6 {
				@include font-weight(600);
				color: color("grey", "darken-4");
			}
			.count {
				@include font-weight(600);
				color: color("grey", "darken-4");
			}
		}
	}
	.recentylyCreated {
		@include margin-padding(all, null, all, 20px 0 0);
		h4 {
            @include font-rem(14px, 24px);
            color: color('grey','darken-4');
            text-transform: $text-uppercase;
            @include font-weight(bold);
            @include margin-padding(all, 0 0 10px, all, 0 20px);
		}
    }
    .created-row {
		@include margin-padding(all, null, all, 13px 30px);
		border-bottom: 1px solid color('grey','lighten-5');
		&:hover {
			background: color('grey','lighten-4');
		}
		&:last-child {
			border-bottom: $none;
		}
        .created-row-head {
            align-items: $align-items-center;
			@include flexbox();
			@include flex-wrap($wrap);
            h5 {
				@include margin-padding(all, 0, all, null);
				@include font-rem(12px, 24px);
				color: color('grey','darken-1');
				@include font-weight(500);
				text-transform: $text-uppercase;
				letter-spacing: 0.25px;
            }    
		}
		.dropDownicon {
			width: 30px;
			height: 30px;
			border-radius: $border-radius-thirty;
			@include flexbox();
			align-items: $align-items-center;
			justify-content: $justifycenter;
			margin-right: $zero;
			background: url(../images/common-icons.svg) no-repeat -315px -339px;
			display: $display-inline-block;
			vertical-align: $verticle-align-middle;
			@include margin-padding(all, 0 0 0 auto, all, null);
			&:hover,
			&:focus,
			&:active {
			  background: #efeff3 url(../images/common-icons.svg) no-repeat -315px -339px;
			}
		  }
		  .createdContent {
			  h6 {
				  @include font-rem(16px, 24px);
				  color:color('grey','darken-4');
				  @include margin-padding(all, 0 0 10px, all, null);
			  }
		  }
	}
	.status {
		align-items: $align-items-center;
			@include flexbox();
			@include flex-wrap($wrap);
			.statusLeft {
				@include margin-padding(all, 0 3.375rem 0 0, all, null);
			}
			h5 {
				@include margin-padding(all, 0, all, null);
				@include font-rem(12px, 24px);
				color: color('grey','darken-1');
				@include font-weight(500);
				text-transform: $text-uppercase;
				letter-spacing: 0.25px;
			}
			.badge {
				background: #00B0DC;
				color:color('shades','white');
				@include border-radius(5px);
				@include font-rem(13px, 24px);
				@include font-weight(500);
				height: $height-auto;
				@include margin-padding(all, 0, all, null);
				min-width: 7rem;
			}
			.badge-yellow {
				background: #FFA400;
			}
			.lastViewed {
				h6 {
					@include font-rem(14px, 24px);
					color:color('grey','darken-2');
					@include margin-padding(all, 0, all, null);
				}	
			}
		
	}
}
.viewedDropDown-content {
	min-width: 189px;
	@include margin-padding(all, null, all, 22px 30px 19px !important);
	li {
		@include font-rem(14px, 20px);
		color: color('grey','darken-4');
		min-height: inherit;
		@include margin-padding(all, 0 0 21px, all, 0);
		&:hover {
			background: color('shades', 'transparent');
		}
		&:last-child {
			@include margin-padding(all, 0, all, null);
		}
		a {
			align-items: $align-items-center;
			@include flexbox();
			@include flex-wrap($wrap);
			@include font-rem(14px, 20px);
			color: color('grey','darken-4');
			@include margin-padding(all, null, all, 0);
		
		}
	}
	.shareIcon {
		background: url(../images/common-icons.svg) no-repeat -170px -897px;
		width: 1.4rem;
		height: 1.4rem;
		margin-right: 0.8rem;
	}
	.commentIcon {
		background: url(../images/common-icons.svg) no-repeat -243px -897px;
		width: 1.4rem;
		height: 1.4rem;
		margin-right: 0.8rem;
	}
	.prieviewIcon {
		background: url(../images/common-icons.svg) no-repeat -26px -976px;
		width: 1.4rem;
		height: 1.4rem;
		margin-right: 0.8em;
	}
	.printIcon {
		background: url(../images/common-icons.svg) no-repeat -93px -976px;
		width: 1.4rem;
		height: 1.4rem;
		margin-right: 0.8rem;
	}
	.sendIcon {
		background: url(../images/common-icons.svg) no-repeat -167px -976px;
		width: 1.4rem;
		height: 1.4rem;
		margin-right: 0.8rem;
	}
	.editIcon {
		background: url(../images/common-icons.svg) no-repeat -244px -976px;
		width: 1.4rem;
		height: 1.4rem;
		margin-right: 0.8rem;
	}
}

.dashboardScrollHeight {
    height: calc(100% - 62px);
}
.dashboardScrollHeight  .scrollbar-inner > .scroll-element.scroll-y {
    right: 0;
}
/* Dashboard CSS end here */
