/* Analytics Overview Page start here */

.anaytics-overview {
	.anaytics-row {
		h4 {
			color: color("grey", "darken-1");
			line-height: $line-height-twentyfour;
			margin-bottom: 20px;
		}
	}
	.anaytics-overview-row {
		@include border-radius(5px);
		border: 1px solid color("grey", "lighten-5");
		margin-bottom: 15px;
		.anaytics-overview-header {
			@include margin-padding(all, null, all, 1.375rem 1.375rem 1.0625rem 1.75rem);
			@include flex(flex);
			@include flex-wrap(wrap);
			text-transform: text-map("text-align","center");
		}
		h6 {
			color: color("grey", "darken-1");
			text-transform: text-map("text-transform","uppercase");
			@include font-weight(medium);
			line-height: $line-height-twentyfour;
			@include margin-padding(all, 0, all, null);
		}
		.view-more {
			color: color("indigo", "base");
			@include margin-direction(left);
			line-height: $line-height-twentyfour;
			@include flex(flex);
			@include flex-align-items(center);
		}
		.anaytics-overview-content {
			@include margin-padding(all, null, all, 0 1.375rem 1.3125rem 1.75rem);
			@include relative();
			h4 {
				@include font-weight(medium);
				color: color("grey", "darken-4");
				line-height: $line-height-twentyfour;
				@include margin-padding(all, 0 0 1rem 0, all, null);
			}
			p {
				color: color("blue-grey", "darken-1");
				@include font-rem(16px, 24px);
				@include margin-padding(all, 0, all, null);
				strong {
					color: color("grey", "darken-2");
				}
			}
		}
		.auth-link {
			color: color("indigo", "base");
			@include font-weight(medium);
		}
		.anaytics-overview-footer-row {
			@include flex-wrap(wrap);
			@include flex(flex);
			@include flex-align-items(center);
			@include flex-justify(center);
			border-top: 1px solid color("grey", "lighten-5");
		}
	}
	.anaytics-overview-col {
		max-width: 33.33%;
		flex: 0 0 33.33%;
		@include flex(flex);
		@include flex-align-items(center);
		@include flex-justify(center);
		border-right: 1px solid color("grey", "lighten-5");
		background: color("shades", "white");
		padding: 5px;
		&:last-child {
			border-right: $none;
		}
		h6 {
			margin: $zero;
			color: color("grey", "darken-4");
			line-height: $line-height-twentyfour;
		}
		.email-icon {
			@include icon(20px, 20px, (false));
			background-position: -382px -412px;
		}
		.phone-icon {
			@extend .email-icon;
			background-position: -26px -500px;
		}
		.mobile-icon {
			@extend .email-icon;
			background-position: -90px -497px;
		}
	}
	.border-row {
		border-left: 5px solid#0086DC;
		@include flex(inline-block);
		width: $full-width;
		@include border-radius(5px 0 0 5px)
	}
	.analytics-shadow {
		background: linear-gradient(
			to top,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 1) 21%,
			rgba(255, 255, 255, 0.58) 65%,
			rgba(255, 255, 255, 0) 100%
		);
		height: 60%;
		@include absolute(bottom 0);
		width: $full-width;
		@include flex(flex);
		@include flex-align-items(flex-end);
	}
	.reply-btn {
		@include font-weight(medium);
		text-transform: text-map("text-transform","uppercase");
		color: color("grey", "darken-4");
		@include relative();
		margin-top: 15px;
		@include flex(inline-flex);
		.reply-arrow {
			@include icon(16px, 16px, (true));
			background-position: -170px -500px;
		}
	}
}
.analytics-overview-view {
	.analytics-overview-view-row {
		// border-radius: $border-radius-5;
		// background: color("shades", "white");
		// box-shadow: 0px 2px 7px rgba(84, 86, 90, 0.2);
	
			li {
				@include border-radius(5px);
				background: color("shades", "white");
				box-shadow: 0px 2px 7px rgba(84, 86, 90, 0.2);
				margin-bottom: 1.375rem;
				&:last-child {
					@include margin-padding(all, 0, all, null);
				}
			}
			li.active {
				.rotate-arrow {
					@include transform(rotate(180deg));
				}
			}
			.collapsible-header {
				border-top: $none;
				background-color: color("shades", "transparent");
				@include font-rem(16px);
				color: color("grey", "darken-4");
				text-transform: text-map("text-transform","uppercase");
				@include font-weight(semi-bold);
				border-bottom: 1px solid color("grey", "lighten-5");
				padding: 12px 20px !important;
				@include border-radius(5px 5px 0 0);
				.material-icons {
					@include margin-direction(left);
					margin-right: $zero;
					color: color("indigo", "base");
					font-size: 1.9rem;
					@include transition(all 0.5s);
				}
			}
		
	}
	.total-view {
		@include margin-padding(all, null, all, 1rem 0);
		border-bottom: 1px solid color("grey", "lighten-5");
		.total-view-row {
			@include flex(flex);
			text-align: text-map("text-align","center");
			@include margin-padding(all, null, all, 0 2rem);
			margin-bottom: 1.375rem;
			&:last-child {
				margin-bottom: $zero;
			}
			h6 {
				@include font-rem(13px, 24px);
				@include font-weight(bold);
				text-transform: text-map("text-transform","uppercase");
				margin: $zero;
				color: color("grey", "darken-4");
			}
			.count {
				@include margin-direction(left);
				@include font-rem(15px, 24px);
				color: color("blue-grey", "darken-1");
			}
		}
	}
	.top-viewers {
		@include margin-padding(all, 0 0 1.25rem, all, 1.75rem 2rem);
		h5 {
			text-transform: text-map("text-transform","uppercase");
			@include font-weight(semi-bold);
			color: color("grey", "darken-4");
			@include font-rem(14px, 24px);
		}
		.viewers-row {
			@include flex(flex);
			@include flex-wrap(wrap);
			@include flex-align-items(flex-start);
			margin-bottom: 1.375rem;
			.viewer-img {
				margin-right: 1.125rem;
			}
			.viewers-content {
				flex: 1;
				h6 {
					color: color("indigo", "base");
					@include margin-padding(all, 0, all, null); 
					@include font-rem(16px, 24px);
				}
				p {
					@include margin-padding(all, 0, all, null); 
					line-height: $line-height-twentyfour;
					color: color("grey", "darken-2");
				}
			}
			.collapse-arrow {
				color: color("indigo", "base");
				font-size: 1.9rem;

				.material-icons {
					@include transition(all 0.5s);
				}
			}
		}
		.btn-round {
			@include flex(inline-flex);
			.material-icons {
				@include margin-padding(all, 0 5px 0 0, all, null);
			}
		}
	}
	.top-file-viewed {
		border-top: 1px solid color("grey", "lighten-5");
		@include margin-padding(all, null, all, 1.75rem 2rem);
		h6 {
			text-transform:text-map("text-transform","uppercase");
			@include font-weight(semi-bold);
			color: color("grey", "darken-4");
			@include font-rem(14px, 24px);
			@include margin-padding(all, 0 0 1.25rem 0, all, null);
		}
		.top-file-row {
			@include flex(flex);
			@include flex-wrap(wrap);
			@include flex-align-items(flex-start);
			@include margin-padding(all, 0 0 1.375rem 0, all, null);
			&:last-child {
				margin-bottom: $zero;
			}
			p {
				@include font-rem(16px, 24px);
				@include margin-padding(all, 0, all, null);
				color: color("grey", "darken-2");
			}
			.file-arrow {
				color: color("indigo", "base");
				@include font-rem(31px, 24px);
				@include margin-direction(left);
				@include transition(all 0.5s);
			}
		}
		.pdf-icon {
			background: url(../images/common-icons.svg) no-repeat -169px -346px;
			width: 1.3rem;
			height: 1.6rem;
			margin-right: 1rem;
		}
	}
	.engagement {
		@include margin-padding(all, null, all, 1rem 0);
		.engagement-row {
			@include flex(flex);
			@include flex-align-items(center);
			@include margin-padding(all, 0 0 1.375rem 0, all, 0 2rem);
			&:last-child {
				margin-bottom: $zero;
			}
			h6 {
				@include font-rem(14px, 24px);
				@include font-weight(semi-bold);
				text-transform: text-map("text-transform","uppercase");
				margin: $zero;
				color: color("grey", "darken-4");
			}
		}
		.count {
			@include margin-direction(left);
			@include font-rem(14px, 24px);
			color: color("blue-grey", "darken-1");
		}
	}
}
.analytics-filter {
	@include flex(flex);
	@include flex-wrap(wrap);
	@include flex-align-items(center);
	@include margin-padding(all, null, all, 0 0 1.75rem 0);
	h5 {
		@include font-rem(16px, 24px);
		color: color("grey", "darken-4");
		margin: $zero;
	}
	.filter-icon {
		@include icon(20px, 20px, (false));
		background-position: -324px -496px;
	}
	.type {
		@include margin-padding(all, 0 1.25rem 0 0.625rem, all, null);
		h5 {
			@include flex(flex);
			@include flex-wrap(wrap);
			@include flex-align-items(center);
			.dropdown-arrow {
				line-height: 12px;
				color: color("indigo", "base");
			}
		}
	}
	.all-viewers {
		@include relative;
		h5 {
			@include flex(flex);
			@include flex-wrap(wrap);
			@include flex-align-items(center);
			.dropdown-arrow {
				line-height: 12px;
				color: color("indigo", "base");
			}
		}
		.hover-dropdown {
			margin-left: 3px;
			@include border-radius(2px);
			width: 20px;
			height: 20px;
			@include flex(flex);
			@include flex-align-items(center);
			@include flex-justify(center);
			color: color("indigo", "base");
			&:hover,
			&:focus {
				background: color("grey", "lighten-4");
				outline: $none;
				.material-icons {
					color: color("grey", "lighten-3");
				}
			}
		}
		.dropdown-content {
			min-width: 185px;
			top: 100% !important;
			padding: 16px 17px;
			left: auto !important;
			right: $zero;
			li {
				min-height: inherit;
				margin-bottom: 1.3rem;
				&:last-child {
					margin-bottom: $zero;
				}
				&:hover {
					background: color("shades", "transparent");
				}
				a {
					@include margin-padding(all, null, all, 0);
				}
				label {
					span {
						@include font-rem(15px);
						color: color("grey", "darken-4");
					}
				}
			}
		}
	}
	.calender-date {
		@include flex(flex);
		@include flex-wrap(wrap);
		@include flex-align-items(center);
		@include margin-direction(left);
		.prev-date-calender {
			@include border-radius(0.125rem);
			border: 1px solid color("grey", "lighten-5");
			width: 2.36rem;
			height: 2.36rem;
			background: #fafafb url(../images/common-icons.svg) no-repeat -13px -192px;
			@include flex(inline-block);
		}
		.calender-date-text {
			color: color("grey", "darken-2");
			@include margin-padding(all, 0 1.6rem, all, null);
		}
		.next-date-calender {
			@include border-radius(0.125rem);
			border: 1px solid color("grey", "lighten-5");
			width: 2.36rem;
			height: 2.36rem;
			background: #fafafb url(../images/common-icons.svg) no-repeat -86px -192px;
			@include margin-padding(all, 0 2.3125rem 0 0, all, null);
			@include flex(inline-block);
		}
	}
	.caleneder-filter {
		@include flex(flex);
		@include flex-wrap(wrap);
		@include flex-align-items(center);
		@include relative();
		.calender-icon {
			background: url(../images/common-icons.svg) no-repeat -243px -495px;
			width: 1.5rem;
			height: 1.4rem;
			@include margin-padding(all, 0, all, null);
			@include flex(inline-block);
		}
		.dropdown-arrow {
			line-height: 12px;
			color: color("indigo", "base");
		}
		.dropdown-content {
			min-width: 255px;
			top: 100% !important;
			left: auto !important;
			right: $zero;
		}
		.calender-header {
			.calender-header-row {
				@include flex(flex);
				@include flex-wrap(wrap);
				@include flex-align-items(center);
				border-bottom: 1px solid color("grey", "lighten-5");
				.from {
					width: 4.5rem;
					height: 3.5625rem;
					@include flex(flex);
					@include flex-wrap(wrap);
					@include flex-align-items(center);
					@include flex-justify(center);
					background: color("grey", "lighten-4");
					border-right: 1px solid color("grey", "lighten-5");
					@include font-rem(12px);
					text-transform: text-map("text-transform","uppercase");
					color: color("grey", "darken-1");
					@include font-weight(medium);
					letter-spacing: 0.25px;
				}
				.date-calender {
					@include flex(flex);
					@include flex-wrap(wrap);
					@include flex-align-items(center);
					@include margin-padding(all, null, all, 0 1.25rem);
					@include font-rem(14px);
					color: color("grey", "darken-4");
				}
				.calender-date-icon {
					@include icon(20px, 20px, (false));
					background-position: -239px -573px;
					&:focus {
						background: #fafafb url(../images/common-icons.svg) no-repeat -239px -491px;
					}
				}
			}
		}
		.calender-dropdown-content {
			li {
				min-height: inherit;
				&:hover {
					background: color("grey", "lighten-4");
					a {
						color: color("indigo", "base");
					}
				}
				.active {
					background: color("grey", "lighten-4");
					color: color("indigo", "base");
					a {
						color: color("indigo", "base");
					}
				}
				a {
					text-align:text-map("text-align","center");
					@include font-rem(14px);
					color: color("grey", "darken-4");
					padding: 11px 16px;
				}
			}
		}

		.hover-dropdown {
			margin-left: 3px;
			@include border-radius(2px);
			width: 20px;
			height: 20px;
			@include flex(flex);
			@include flex-align-items(center);
			@include flex-justify(center);
			color: color("indigo", "base");
			&:hover,
			&:focus {
				background: color("grey", "lighten-4");
				outline: $none;
				.material-icons {
					color: color("grey", "lighten-3");
				}
			}
		}
	}
	.type {
		.hover-dropdown {
			@include margin-padding(all, 0 0 0 3px, all, null);
			@include border-radius(2px);
			width: 20px;
			height: 20px;
			@include flex(flex);
			@include flex-align-items(center);
			@include flex-justify(center);
			&:hover,
			&:focus {
				background: color("grey", "lighten-4");
				outline: $none;
				.material-icons {
					color: color("grey", "lighten-3");
				}
			}
		}
		@include relative();
		.dropdown-content {
			min-width: 175px;
			top: 100% !important;
			@include margin-padding(all, null, all, 1.0625rem 1.125rem);
			left: auto !important;
			right: $zero;
			li {
				min-height: inherit;
				margin-bottom: 1.3rem;
				&:last-child {
					margin-bottom: $zero;
				}
				&:hover {
					background: color("shades", "transparent");
				}
				a {
					@include margin-padding(all, null, all, 0);
				}
				label {
					span {
						@include font-rem(15px);
						color: color("grey", "darken-4");
					}
				}
			}
		}
	}
}
.contact-list-row {
	@include flex(flex);
	@include flex-wrap(wrap);
	@include flex-align-items(center);
	margin-top: 10px;
	.phone-contact,
	.mobile-contact,
	.linkedIn-contact {
		@include icon(25px, 25px, (true));
		background-position: -383px -492px;
	}
	.mobile-contact {
		background-position: -26px -575px;
	}
	.linkedIn-contact {
		background-position: -93px -575px;
	}
	p {
		@include margin-padding(all, 0, all, null);
		line-height: $line-height-twentyfour;
		color: color("grey", "darken-2");
	}
}
.time-spent {
	@include flex(flex);
	@include flex-wrap(wrap);
	@include flex-align-items(flex-start);
	@include margin-padding(all, 0.625rem 0 0 0, all, null);
	.time-spent-left {
		width: 30%;
		span {
			line-height: $line-height-twentyfour;
			@include margin-padding(all, 0, all, null);
			@include flex(block);
		}
	}
	h5 {
		@include font-rem(12px, 24px);
		@include font-weight(medium);
		color: color("grey", "darken-1");
		text-transform: text-map("text-transform","uppercase");
		@include margin-padding(all, 0, all, null);
	}
	.progress {
		height: 7px;
		background-color: color("grey", "lighten-5");
		@include border-radius(0);
		@include margin-padding(all, 0.5rem 0 0 0, all, null);
		.determinate {
			background-color: #19e4b1;
		}
	}
	.time-spent-right {
		width: 40%;
		//margin-left: $margin-left-auto;
		span {
			@include font-rem(10px, 24px);
			@include margin-padding(all, 0, all, null);
			color: color("blue-grey", "darken-1");
		}
	}
}
.top-file-viewedcontent {
	flex: 1;
}
.bottom-border {
	border-bottom: 1px solid color("grey", "lighten-5");
}
.analytics-padding{
	// padding: 20px !important;
	background: color("grey", "lighten-4");
}
.full-height {
	height: $height-hundred-per !important;
}
.height-auto {
	height: $height-auto !important;
}
.no-bg {
	background: color("shades", "transparent") !important;
	border: $none !important;
}
.viewers-content.content-show {
	height: 49px;
	overflow: hidden;
	@include transition(all 0.5s);
}
.collapse-arrow.rotate-arrowdrop .material-icons {
	@include transform(rotate(180deg));
}
.top-file-row.top-file-collapse {
	height: 26px;
	overflow: hidden;
}
.file-arrow.file-arrowRotate {
	@include transform(rotate(180deg));
}

.ip-address {
	margin-top: 1.5625rem;
	padding: 0 2.2rem;
	@include flex(none);
	.ip-address-top {
		.ip-address-row {
			@include flex(flex);
			@include flex-wrap(wrap);
			@include flex-align-items(center);
			border-bottom: 1px solid color("grey", "lighten-5");
			@include margin-padding(all, null, all, 0.625rem 0);
			&:last-child {
				border-bottom: $none;
			}
			h6 {
				@include font-rem(13px, 24px);
				@include margin-padding(all, 0, all, null);
				color: color("grey", "darken-4");
				@include font-weight(semi-bold);
				text-transform: text-map("text-transform","uppercase");
				@include margin-padding(all, 0 auto 0 0, all, null);
			}
			span {
				@include margin-direction(left);
				@include font-rem(15px, 24px);
				color: color("blue-grey", "darken-1");
			}
		}
	}
}
.q2-marketing {
	background: color("shades", "white");
	@include margin-padding(all, null, all, 1.375rem);
	border: 1px solid color("grey", "lighten-3");
	margin-top: 1rem;
	.q2-marketing-header {
		@include flex(flex);
		@include flex-wrap(wrap);
		@include flex-align-items(center);
		.pdf-icon {
			@include icon(21px, 25px, (false));
			background-position: -168px -345px;
		}
		h5 {
			@include font-weight(semi-bold);
			line-height: 21px;
			color: color("grey", "darken-4");
			@include margin-padding(all, 0 auto 0 0, all, null);
		}
	}
	.marketing-arrow  {
		@include margin-direction(left);
		color: color("indigo", "base");
		line-height: 21px;

		.material-icons {
			@include font-rem(25px);
			@include transform(rotate(0deg));
			@include transition(all 0.5s);
		}
	}
	.marketing-arrow {
		&.current {
			.material-icons {
				@include transform(rotate(180deg));
			}
		}
	}
	.q2-marketing-content {
		overflow: $auto;
		@include margin-padding(all, 1.375rem 0 0 0, all, null);
		table {
			tr {
				border: $none;
			}
			th {
				@include font-weight(semi-bold);
				text-transform: text-map("text-transform","uppercase");
				@include margin-padding(all, null, all, 0 10px 0.75rem 10px);
				border-bottom: 1px solid color("grey", "lighten-5");
				white-space: $white-spacenowrap;
				@include font-rem(14px, 24px);
			}
			td {
				@include font-rem(15px, 24px);
				color: color("blue-grey", "darken-1");
				@include margin-padding(all, null, all, 0 10px);
				white-space: $white-spacenowrap;

			}
			.progress {
				height: 7px;
				background-color: #efeff3;
				@include border-radius(0);
				@include margin-padding(all, 1rem 0 0 0, all, null);
				.determinate {
					background-color: #19e4b1;
				}
			}
			.progress-text {
				@include font-rem(10px, 24px);
				@include flex(block);
				color: color("blue-grey", "darken-1");
			}
		}
		.eye-icon {
			@include icon(21px, 20px, (true));
			background-position: -168px -577px;
			@include vertical-align(middle);
		}
	}
}
.anaytics-overview-row.anaytics-overviewbg.addbg {
	background: color("shades", "white");
}
.anaytics-overview-row.anaytics-overviewbg {
	background: color("grey", "lighten-4");
}
.anaytics-overview-row {
	&.anaytics-overviewbg {
		.view-moreClick {
			.material-icons {
				@include transform(rotate(-90deg));
			}
		}
	}
}
.anaytics-overview-row.anaytics-overviewbg.addbg .view-moreClick .material-icons {
	@include transform(rotate(0deg));
}
.newclientpoint-title-bar {
	@include relative();

	&:hover {
		.edit-title {
			@include opacity(1);
			visibility: $visibilty-visible;
		}
	}
	.client-search-title {
		background: color("shades", "white");
		@include absolute(top 0 left 0);
		height: $height-hundred-per;
		@include flex(flex);
		@include flex-wrap(wrap);
		@include flex-align-items(center);
		@include margin-padding(all, null, all, 1.52rem 1.8125rem);
		@include flex(none);
		input[type="text"] {
			border: $none;
			height: 34px;
			margin: $zero;
			width: $width-auto;
			max-width: 126px;
			font-size: 1.25rem;
			&:focus {
				border: $none;
				box-shadow: $none;
			}
		}
		.close-btn {
			background: url(../images/common-icons.svg) no-repeat -384px -576px;
			width: 1.5rem;
			height: 1.5rem;
			margin-left: 1rem;
			border: $none;
			@include flex(inline-block);
			@include vertical-align(middle);
			cursor: $cursor-pointer;
			&:focus {
				outline: $none;
			}
		}
	}
}
.clientpoint-title {
	@include flex(flex);
	@include flex-wrap(wrap);
	@include flex-align-items(center);
	.edit-title {
		background: url(../images/common-icons.svg) no-repeat -320px -576px;
		width: 1.5rem;
		height: 1.5rem;
		margin-left: 1rem;
		@include opacity(0);
		visibility: $hidden;
	}
}
.filter-rightpanel {
	@include flex(flex);
	@include flex-wrap(wrap);
	@include flex-align-items(center);
	@include margin-direction(left);
}
.mr-0 {
	margin-right: $zero !important;
}

.pika-single {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	@include border-radius(5px);
	border: $none;
}
.tabel-fixed-body {
	height: 240px;
}
.tabel-fixed-body .scrollbar-inner > .scroll-element.scroll-y {
	right: $zero;
}
.tabel-fixed-header  th:nth-child(1),
.tabel-fixed-body td:nth-child(1) {
	width: 50px;
}
.tabel-fixed-header  th:nth-child(2),
.tabel-fixed-body td:nth-child(2) {
	width: 250px;
}
.tabel-fixed-header  th:nth-child(3),
.tabel-fixed-body td:nth-child(3) {
	width: 250px;
}

// .pika-single.is-hidden {
//     display: block !important;
//     position: absolute !important;
//     top: 150px !important;
//     right: 150px;
// }

/* Reply Modal start here */

.reply-modal-content {
	max-width: 52.5rem;
	.share-icon {
		@include icon(32px, 30px, (false));
		background-position: -88px -1523px;
	}
	.modal-content {
		@include margin-padding(all, null, all, 0 3.125rem 1.3rem 3.125rem);
		h6 {
			@include font-rem(12px, 24px);
			letter-spacing: 0.25px;
			color: color("grey", "darken-1");
			text-transform: text-map("text-transform","uppercase");
			@include font-weight(medium);
			@include margin-padding(all, 1.25rem 0 0.625rem 0, all, null);
		}
		textarea {
			height: 12.5rem;
			@include margin-padding(all, null, all, 1.25rem);
			border: 1px solid color("grey", "lighten-3");
			color: color("indigo", "base");
			@include font-rem(16px, 20px);
			@include font-weight(medium);
			@include input-placeholder {
				color: color("indigo", "base");
			}
			&:focus {
				outline: $none;
			}
		}
	}
	.reply-text {
		background: color("grey", "lighten-4");
		@include margin-padding(all, null, all, 1.25rem 1.875rem);
		border: 1px solid color("grey", "lighten-3");
		p {
			@include font-rem(16px, 24px);
			color: color("grey", "darken-2");
			@include margin-padding(all, 0, all, null);
		}
	}
	.link {
		color: color("indigo", "base");
	}
	.modal-footer {
		@include margin-padding(all, null, all, 0 3.125rem 2.1rem 3.5rem);
		.btn-row {
			margin-top: $zero;
			justify-content: $justify-content-end;
		}
		.btn-flat {
			margin-top: $zero;
		}
		.btn-round {
			background: color("grey", "lighten-5");
			color: color("grey", "darken-1");
			box-shadow: $none;
			@include margin-padding(all, 0 0 0 2.5rem, all, 0 1.4rem);
		}
	}
	.textreply-area {
		height: 12.5rem;
		@include margin-padding(all, null, all, 1.25rem);
		border: 1px solid color("grey", "lighten-3");
		color: color("indigo", "base");

		p {
			@include margin-padding(all, 0, all, null);
			color: color("blue-grey", "darken-1");
			@include font-rem(16px, 20px);
		}
	}
	#dropdown-reply {
		min-width: 16rem;
		li {
			border-bottom: 1px solid color("grey", "lighten-5");
			&:hover {
				background: color("shades", "transparent");
			}
			a {
				@include flex(flex);
				@include flex-wrap(wrap);
				@include flex-align-items(center);
				@include margin-padding(all, null, all, 0.6875rem 1.25rem);
			}
		}
		.user-img {
			max-width: 30px;
			flex: 0 0 30px;
			@include margin-padding(all, 0 0.625rem 0 0, all, null);
		}
		.user-info {
			display: $display-block;
			@include margin-padding(all, null, all, 0);
			h6 {
				@include font-rem(13px, 24px);
				color: color("indigo", "base");
				@include margin-padding(all, 0, all, null);
				text-transform: text-map("text-transform","capitalize");
			}
			p {
				@include font-rem(11px, 18px);
				color: color("blue-grey", "darken-1");
				@include margin-padding(all, 0, all, 0);
			}
		}
	}
}

.creating-perposal .scrollbar-inner > .scroll-element.scroll-y {
	right: $zero;
}
.anaytics-overview {
	height: calc(100% - 61px);
}
.analytics-overview-view {
	@include margin-padding(all, null, all, 1.25rem);
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.q2-marketing {
		.marketing-arrow  {
			.material-icons {
				height: 1.1875rem;
			}
		}
	}
	.analytics-overview-view-row {
		.collapsible-header {
			.material-icons {
				height: 1.5625rem;
				line-height: 2.25rem;
			}
		}
	} 
}

.analytics-empty-state {
	max-width: 37.5rem;
	width: $full-width;
	@include margin-padding(all, 2.6875rem auto, all, null);
	text-align:text-map("text-align","center");
	p {
		@include font-rem(14px, 24px);
		color: color('blue-grey','darken-1');
	}
	.link {
		text-decoration:text-map("text-decoration","underline");
	}
}
.empty-state-height {
	height: calc(100% - 71px) !important;
}
/* Reply Modal end here */

/* Analytics Overview Page end here */
